openapi: 3.1.0
info:
  title: Lex Machina Alerts List API
  version: '20260324'
  description: Alerts.
servers:
- url: https://api.lexmachina.com
  description: Lex Machina production API
tags:
- name: List
  description: Provides cannonical lists for specific fields.
paths:
  /list-appealability-rulings:
    get:
      tags:
      - List
      summary: List Appealability Rulings
      description: Lists appealability rulings for use with appeals case querying.
      operationId: list_appealability_rulings
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema: {}
              examples:
                List of Valid Appealability Rulings:
                  summary: List of Valid Appealability Rulings
                  value:
                  - 'Permission to Appeal: Grant'
                  - 'Permission to Appeal: Deny'
                  - 'Certificate of Appealability: Grant'
                  - 'Certificate of Appealability: Deny'
                  - 'Petition for Review: Grant'
                  - 'Petition for Review: Deny'
        '401':
          description: Invalid or expired token
          content:
            application/json:
              examples:
                Expired token:
                  summary: Expired token
                  value:
                    detail: 'Token time expired: Signature has expired.'
                Invalid token:
                  summary: Invalid token
                  value:
                    detail: Invalid token
        '404':
          description: Not found
          content:
            application/json:
              examples:
                Not found:
                  summary: Not found
                  value:
                    summary: Unknown id
                    detail: Not Found
        '422':
          description: Error - 422
          content:
            application/json:
              examples:
                Validation error:
                  summary: Validation error
                  value:
                    summary: Invalid input
                    detail:
                    - type: parsing
                      loc:
                      - path
                      - query
                      - body
                      msg: invalid input
                      input: '-1'
      security:
      - JwtAccessBearer: []
  /list-appellate-decisions/FederalDistrict:
    get:
      tags:
      - List
      summary: List Appellate Decisions
      description: Lists appellate decisions for use with appeals case querying.
      operationId: list_appellate_decisions
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                items:
                  type: string
                type: array
                title: Response List Appellate Decisions List Appellate Decisions Federaldistrict Get
              examples:
                FederalDistrict List of Valid Appellate Decisions:
                  summary: FederalDistrict List of Valid Appellate Decisions
                  value:
                  - Affirmed
                  - Affirmed / Reversed in Part
                  - Reversed
        '401':
          description: Invalid or expired token
          content:
            application/json:
              examples:
                Expired token:
                  summary: Expired token
                  value:
                    detail: 'Token time expired: Signature has expired.'
                Invalid token:
                  summary: Invalid token
                  value:
                    detail: Invalid token
        '404':
          description: Not found
          content:
            application/json:
              examples:
                Not found:
                  summary: Not found
                  value:
                    summary: Unknown id
                    detail: Not Found
        '422':
          description: Error - 422
          content:
            application/json:
              examples:
                Validation error:
                  summary: Validation error
                  value:
                    summary: Invalid input
                    detail:
                    - type: parsing
                      loc:
                      - path
                      - query
                      - body
                      msg: invalid input
                      input: '-1'
      security:
      - JwtAccessBearer: []
  /list-case-resolutions/{court_type}:
    get:
      tags:
      - List
      summary: List Case Resolutions
      description: 'Lists case resolutions given court type for use with querying.


        - **court_type**: the relevant court type


        Each resoltuon has both a summary and specific field which are valid in combinations listed.'
      operationId: list_case_resolutions
      security:
      - JwtAccessBearer: []
      parameters:
      - name: court_type
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/CourtType'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaseResolutionsList'
              examples:
                List Of Valid Case Resolutions For FederalDistrict:
                  summary: List Of Valid Case Resolutions For FederalDistrict
                  value:
                    court:
                      name: All Federal District Courts
                      type: FederalDistrict
                    caseResolutions:
                    - summary: Claimant Win
                      specific: Summary Judgment
                    - summary: Claimant Win
                      specific: Default Judgment
                    - summary: Claimant Win
                      specific: Consent Judgment
                    - summary: Claimant Win
                      specific: Trial
                    - summary: Claimant Win
                      specific: Judgment on the Pleadings
                    - summary: Claimant Win
                      specific: Decision on Bankruptcy Appeal
                    - summary: Claimant Win
                      specific: Judgment as a Matter of Law
                    - summary: Claim Defendant Win
                      specific: Judgment as a Matter of Law
                    - summary: Claim Defendant Win
                      specific: Summary Judgment
                    - summary: Claim Defendant Win
                      specific: Default Judgment
                    - summary: Claim Defendant Win
                      specific: Consent Judgment
                    - summary: Claim Defendant Win
                      specific: Trial
                    - summary: Claim Defendant Win
                      specific: Judgment on the Pleadings
                    - summary: Claim Defendant Win
                      specific: Decision on Bankruptcy Appeal
                    - summary: Likely Settlement
                      specific: Class Action Settlement
                    - summary: Likely Settlement
                      specific: Likely Settlement
                    - summary: Procedural
                      specific: Interdistrict Transfer
                    - summary: Procedural
                      specific: Consolidation
                    - summary: Procedural
                      specific: Multidistrict Litigation
                    - summary: Procedural
                      specific: Severance
                    - summary: Procedural
                      specific: Contested Dismissal
                    - summary: Procedural
                      specific: Stay
                    - summary: Procedural
                      specific: Sealed
                    - summary: Procedural
                      specific: Dismissal
                    - summary: Procedural
                      specific: Intradistrict Transfer
                    - summary: Procedural
                      specific: Appeal Pending
                List Of Valid Case Resolutions For State:
                  summary: List Of Valid Case Resolutions For State
                  value:
                    court:
                      name: All State Courts
                      type: State
                    caseResolutions:
                    - summary: Plaintiff Win
                      specific: Other Judgment
                    - summary: Plaintiff Win
                      specific: Default Judgment
                    - summary: Plaintiff Win
                      specific: Consent Judgment
                    - summary: Plaintiff Win
                      specific: Bench Trial
                    - summary: Plaintiff Win
                      specific: Jury Verdict
                    - summary: Defendant Win
                      specific: Bench Trial
                    - summary: Defendant Win
                      specific: Jury Verdict
                    - summary: Defendant Win
                      specific: Other Judgment
                    - summary: Defendant Win
                      specific: Default Judgment
                    - summary: Defendant Win
                      specific: Consent Judgment
                    - summary: Likely Settlement
                      specific: Likely Settlement
                    - summary: Procedural
                      specific: Procedural
                    - summary: Indeterminable
                      specific: Indeterminable
        '422':
          description: Error - 422
          content:
            application/json:
              examples:
                Invalid Input:
                  summary: Invalid Input
                  value:
                    detail:
                    - type: enum
                      loc:
                      - path
                      - court_type
                      msg: Input should be 'FederalDistrict', 'State', 'FederalAppeals', 'FederalBankruptcy', 'PTAB' or 'ITC'
                      input: string
                      ctx:
                        expected: '''FederalDistrict'', ''State'', ''FederalAppeals'', ''FederalBankruptcy'', ''PTAB'' or ''ITC'''
                Unsupported Court Type:
                  summary: Unsupported Court Type
                  value:
                    detail: Case Resolutions not used for ITC
                Validation error:
                  summary: Validation error
                  value:
                    summary: Invalid input
                    detail:
                    - type: parsing
                      loc:
                      - path
                      - query
                      - body
                      msg: invalid input
                      input: '-1'
        '401':
          description: Invalid or expired token
          content:
            application/json:
              examples:
                Expired token:
                  summary: Expired token
                  value:
                    detail: 'Token time expired: Signature has expired.'
                Invalid token:
                  summary: Invalid token
                  value:
                    detail: Invalid token
        '404':
          description: Not found
          content:
            application/json:
              examples:
                Not found:
                  summary: Not found
                  value:
                    summary: Unknown id
                    detail: Not Found
  /list-case-tags/{court_type}:
    get:
      tags:
      - List
      summary: List Case Tags
      description: 'Lists case tags for a given court type for use with querying.


        - **court_type**: the relevant court type'
      operationId: list_case_tags
      security:
      - JwtAccessBearer: []
      parameters:
      - name: court_type
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/CourtType'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CaseTagsList'
                title: Response List Case Tags List Case Tags  Court Type  Get
              examples:
                List Of Valid Case Tags For FederalDistrict:
                  summary: List Of Valid Case Tags For FederalDistrict
                  value:
                  - court:
                      name: All Federal District Courts
                      type: FederalDistrict
                    caseTags:
                    - Design Patent
                    - Motor Vehicle
                    - Premises Liability
                    - Federal Tort Claims Act
                    - Trial
                    - COVID-19
                    - 'Mass Tort: Deepwater Horizon'
                    - 'Mass Tort: Doe Run Resources'
                    - 'Mass Tort: World Trade Center'
                    - State Employment Claim
                    - Admiralty / Maritime
                    - ADA (Civil Rights)
                    - Police Action
                    - 'Data: Personally Identifiable Information'
                    - Business Interruption
                    - 'Data: Protected Health Information'
                    - Declaratory Judgment (IP)
                    - Appealed
                    - 'Order re: Summary Judgment'
                    - ANDA
                    - SCOTUS Decision
                    - CFAA
                    - ECPA
                    - DMCA
                    - Retaliation (False Claims)
                    - Fair Housing Act
                    - Foreclosure
                    - Rent / Lease / Ejectment
                    - Torts to Land
                    - Land Condemnation
                    - Bench Trial
                    - Jury Trial
                    - Claim Construction Hearing
                    - 'ADA: Auditory / Visual Accommodation'
                    - 'ADA: Mobility Accommodation'
                    - 'ADA: Service Animal Accommodation'
                    - 'ADA: Website Access Accommodation'
                    - ADA High-Volume Plaintiff
                    - USA Filed (False Claims)
                    - Healthcare (False Claims)
                    - Government Contract (False Claims)
                    - Qui Tam (False Claims)
                    - Voting
                    - Education
                    - First Amendment
                    - Consumer Fraud
                    - Equitable Subrogation
                    - Counterfeiting
                    - Non-Compete
                    - Biometric Privacy
                    - Pro Se
                    - 'Order re: Expert Admissibility'
                    - APA
                    - File Sharing
                    - Cybersquatting
                    - Derivative Suit
                    - Dilution
                    - Commodity Exchange Act
                    - Section 11 / 12
                    - Section 14
                    - Section 20(a)
                    - Class Action
                    - Government Plaintiff
                    - 'SEC Enforcement: Settled Complaint'
                    - Securities Fraud (§ 10(b) / 10b-5)
                    - 'SEC Enforcement: Contested'
                    - 'DOJ/FTC Enforcement: Contested'
                    - 'DOJ/FTC Enforcement: Administrative'
                    - Robinson-Patman Act
                    - 'Order re: Dismiss (Contested)'
                    - 'Order re: Class Certification'
                    - MDL Master Case
                    - MDL Associated Case
                    - Commercial
                    - Discrimination (Federal)
                    - Retaliation (Federal)
                    - Harassment (Federal)
                    - Miller Act
                    - Accommodation (Federal)
                    - Chapter 11
                    - Adversary Proceeding
                    - Proposed FFCL (28 U.S.C. § 157(c)(1))
                    - Withdrawal of the Reference
                    - Bankruptcy Appeal
                    - High-Volume Plaintiff
                    - Business Tort
                    - Removal
                    - 'Product: Aircraft'
                    - 'Product: Asbestos'
                    - 'Product: Vehicle'
                    - Warranty / Economic Loss
                    - Chapter 7
                    - Chapter 13
                    - Business Debtor
                    - Individual Debtor
                    - ADA (Employment)
                    - Subrogation (Product Liability)
                    - Chapter 9
                    - Chapter 12
                    - Chapter 15
                    - FMLA
                    - FLSA
                    - EEOC Charging Party
                    - 'Product: Medical Device / Pharmaceutical'
                    - FLSA Collective Action
                    - 'Order re: FLSA Conditional Certification'
                    - Defend Trade Secrets Act
                    - Schedule A Defendants
                    - Hurricane Related
                    - UM / UIM
                    - 'Policy: Auto'
                    - 'Policy: Business Liability'
                    - 'Policy: Homeowners'
                    - 'Policy: Life'
                    - Claim Denial (ERISA)
                    - Delinquent Contribution (ERISA)
                    - Plan Reimbursement
                    - Withdrawal Liability (ERISA)
                    - Franchise Agreement
                    - Negotiable Instrument
                    - Breach of Contract
                    - 'Data: Financial Records'
                    - Non-Commercial
                    - RICO
                    - Forfeiture / Penalty
                    - Immigration
                    - 'Mass Tort: DuPont C-8'
                    - FTC / CFPB Enforcement
                    - Fair Credit Reporting Act
                    - Fair Debt Collection Practices Act
                    - Real Estate Settlement Procedures Act
                    - Truth In Lending Act
                    - Unfair / Deceptive Trade Practices
                    - Telephone Consumer Protection Act
                    - Data Breach
                    - CERCLA
                    - Clean Water Act
                    - Clean Air Act
                    - Endangered Species Act
                    - RCRA
                    - NEPA
                    - Partnership Items
                    - IRS Summons
                    - Tax Preparer Penalty
                    - Deepwater Horizon
                    - FOIA
                    - Medical Malpractice
                List Of Valid Case Tags For State:
                  summary: List Of Valid Case Tags For State
                  value:
                  - court:
                      name: Los Angeles County Superior Court
                      type: State
                      state: CA
                    caseTags:
                    - General Jurisdiction
                    - Limited Jurisdiction
                    - CRC 3.4 Complex
                    - Collections (CA)
                    - Trial
                    - PAGA
                  - court:
                      name: Harris County District Court
                      type: State
                      state: TX
                    caseTags:
                    - 'Order re: Summary Judgment'
                    - Jury
                    - Trial
                  - court:
                      name: Harris County Court
                      type: State
                      state: TX
                    caseTags:
                    - 'Order re: Summary Judgment'
                    - Jury
                    - Trial
                  - court:
                      name: Court of Chancery
                      type: State
                      state: DE
                    caseTags:
                    - Breach of Contract (DCC)
                    - Breach of Fiduciary Duties (DCC)
                    - Class Action
                    - Complaint - Inspection of Books & Records (DCC)
                    - Contract (DCC)
                    - Appraisal (DCC)
                    - Declaratory Judgment (DCC)
                    - Dissolution (DCC)
                    - Trial
                    - Injunctive Relief (DCC)
                    - Specific Performance (DCC)
                    - Civil Action (DCC)
                    - Accounting (DCC)
                  - court:
                      name: Fort Bend County Court
                      type: State
                      state: TX
                    caseTags:
                    - 'Order re: Summary Judgment'
                    - Jury
                    - Trial
                  - court:
                      name: Fort Bend County District Court
                      type: State
                      state: TX
                    caseTags:
                    - 'Order re: Summary Judgment'
                    - Jury
                    - Trial
                  - court:
                      name: Sacramento County Superior Court
                      type: State
                      state: CA
                    caseTags:
                    - General Jurisdiction
                    - Limited Jurisdiction
                    - CRC 3.4 Complex
                    - Collections (CA)
                    - Trial
                    - PAGA
                  - court:
                      name: San Bernardino County Superior Court
                      type: State
                      state: CA
                    caseTags:
                    - General Jurisdiction
                    - Limited Jurisdiction
                    - CRC 3.4 Complex
                    - Collections (CA)
                    - Trial
                    - PAGA
                  - court:
                      name: Riverside County Superior Court
                      type: State
                      state: CA
                    caseTags:
                    - General Jurisdiction
                    - Limited Jurisdiction
                    - CRC 3.4 Complex
                    - Collections (CA)
                    - Trial
                    - PAGA
                  - court:
                      name: Orange County Superior Court
                      type: State
                      state: CA
                    caseTags:
                    - General Jurisdiction
                    - Limited Jurisdiction
                    - CRC 3.4 Complex
                    - Collections (CA)
                    - Trial
                    - PAGA
                  - court:
                      name: Clark County District Court
                      type: State
                      state: NV
                    caseTags:
                    - Trial
                    - Jury
                  - court:
                      name: San Diego County Superior Court
                      type: State
                      state: CA
                    caseTags:
                    - General Jurisdiction
                    - Limited Jurisdiction
                    - CRC 3.4 Complex
                    - Collections (CA)
                    - Trial
                    - PAGA
                  - court:
                      name: King County Superior Court
                      type: State
                      state: WA
                    caseTags:
                    - Trial
                    - Collections (WA)
                  - court:
                      name: DeKalb County Superior Court
                      type: State
                      state: GA
                    caseTags:
                    - Medical Malpractice (GA)
                    - 'Order re: Summary Judgment'
                    - Class Action
                    - Collections (GA)
                    - Special Master (GA)
                    - Trial
                  - court:
                      name: DeKalb County State Court
                      type: State
                      state: GA
                    caseTags:
                    - Medical Malpractice (GA)
                    - 'Order re: Summary Judgment'
                    - Class Action
                    - Collections (GA)
                    - Trial
                  - court:
                      name: Fulton County Superior Court
                      type: State
                      state: GA
                    caseTags:
                    - Medical Malpractice (GA)
                    - 'Order re: Summary Judgment'
                    - Class Action
                    - Collections (GA)
                    - Special Master (GA)
                    - Trial
                  - court:
                      name: Fulton County State Court
                      type: State
                      state: GA
                    caseTags:
                    - Medical Malpractice (GA)
                    - 'Order re: Summary Judgment'
                    - Class Action
                    - Collections (GA)
                    - Special Master (GA)
                    - Trial
                  - court:
                      name: Alameda County Superior Court
                      type: State
                      state: CA
                    caseTags:
                    - General Jurisdiction
                    - Limited Jurisdiction
                    - CRC 3.4 Complex
                    - Collections (CA)
                    - Trial
                    - PAGA
                  - court:
                      name: Multnomah County Circuit Court
                      type: State
                      state: OR
                    caseTags:
                    - Trial
                    - Collections (OR)
                  - court:
                      name: Benton County Circuit Court
                      type: State
                      state: OR
                    caseTags:
                    - Trial
                    - Collections (OR)
                  - court:
                      name: Clackamas County Circuit Court
                      type: State
                      state: OR
                    caseTags:
                    - Trial
                    - Collections (OR)
                  - court:
                      name: Deschutes County Circuit Court
                      type: State
                      state: OR
                    caseTags:
                    - Trial
                    - Collections (OR)
                  - court:
                      name: Jackson County Circuit Court
                      type: State
                      state: OR
                    caseTags:
                    - Trial
                    - Collections (OR)
                  - court:
                      name: Lane County Circuit Court
                      type: State
                      state: OR
                    caseTags:
                    - Trial
                    - Collections (OR)
                  - court:
                      name: Linn County Circuit Court
                      type: State
                      state: OR
                    caseTags:
                    - Trial
                    - Collections (OR)
                  - court:
                      name: Marion County Circuit Court
                      type: State
                      state: OR
                    caseTags:
                    - Trial
                    - Collections (OR)
                  - court:
                      name: Washington County Circuit Court
                      type: State
                      state: OR
                    caseTags:
                    - Trial
                    - Collections (OR)
                  - court:
                      name: Baker County Circuit Court
                      type: State
                      state: OR
                    caseTags:
                    - Trial
                    - Collections (OR)
                  - court:
                      name: Clatsop County Circuit Court
                      type: State
                      state: OR
                    caseTags:
                    - Trial
                    - Collections (OR)
                  - court:
                      name: Columbia County Circuit Court
                      type: State
                      state: OR
                    caseTags:
                    - Trial
                    - Collections (OR)
                  - court:
                      name: Coos County Circuit Court
                      type: State
                      state: OR
                    caseTags:
                    - Trial
                    - Collections (OR)
                  - court:
                      name: Crook County Circuit Court
                      type: State
                      state: OR
                    caseTags:
                    - Trial
                    - Collections (OR)
                  - court:
                      name: Curry County Circuit Court
                      type: State
                      state: OR
                    caseTags:
                    - Trial
                    - Collections (OR)
                  - court:
                      name: Douglas County Circuit Court
                      type: State
                      state: OR
                    caseTags:
                    - Trial
                    - Collections (OR)
                  - court:
                      name: Gilliam County Circuit Court
                      type: State
                      state: OR
                    caseTags:
                    - Trial
                    - Collections (OR)
                  - court:
                      name: Grant County Circuit Court
                      type: State
                      state: OR
                    caseTags:
                    - Trial
                    - Collections (OR)
                  - court:
                      name: Harney County Circuit Court
                      type: State
                      state: OR
                    caseTags:
                    - Trial
                    - Collections (OR)
                  - court:
                      name: Hood River County Circuit Court
                      type: State
                      state: OR
                    caseTags:
                    - Trial
                    - Collections (OR)
                  - court:
                      name: Jefferson County Circuit Court
                      type: State
                      state: OR
                    caseTags:
                    - Trial
                    - Collections (OR)
                  - court:
                      name: Josephine County Circuit Court
                      type: State
                      state: OR
                    caseTags:
                    - Trial
                    - Collections (OR)
                  - court:
                      name: Klamath County Circuit Court
                      type: State
                      state: OR
                    caseTags:
                    - Trial
                    - Collections (OR)
                  - court:
                      name: Lake County Circuit Court
                      type: State
                      state: OR
                    caseTags:
                    - Trial
                    - Collections (OR)
                  - court:
                      name: Lincoln County Circuit Court
                      type: State
                      state: OR
                    caseTags:
                    - Trial
                    - Collections (OR)
                  - court:
                      name: Malheur County Circuit Court
                      type: State
                      state: OR
                    caseTags:
                    - Trial
                    - Collections (OR)
                  - court:
                      name: Morrow County Circuit Court
                      type: State
                      state: OR
                    caseTags:
                    - Trial
                    - Collections (OR)
                  - court:
                      name: Polk County Circuit Court
                      type: State
                      state: OR
                    caseTags:
                    - Trial
                    - Collections (OR)
                  - court:
                      name: Sherman County Circuit Court
                      type: State
                      state: OR
                    caseTags:
                    - Trial
                    - Collections (OR)
                  - court:
                      name: Tillamook County Circuit Court
                      type: State
                      state: OR
                    caseTags:
                    - Trial
                    - Collections (OR)
                  - court:
                      name: Umatilla County Circuit Court
                      type: State
                      state: OR
                    caseTags:
                    - Trial
                    - Collections (OR)
                  - court:
                      name: Union County Circuit Court
                      type: State
                      state: OR
                    caseTags:
                    - Trial
                    - Collections (OR)
                  - court:
                      name: Wallowa County Circuit Court
                      type: State
                      state: OR
                    caseTags:
                    - Trial
                    - Collections (OR)
                  - court:
                      name: Wasco County Circuit Court
                      type: State
                      state: OR
                    caseTags:
                    - Trial
                    - Collections (OR)
                  - court:
                      name: Wheeler County Circuit Court
                      type: State
                      state: OR
                    caseTags:
                    - Trial
                    - Collections (OR)
                  - court:
                      name: Yamhill County Circuit Court
                      type: State
                      state: OR
                    caseTags:
                    - Trial
                    - Collections (OR)
                  - court:
                      name: New Castle County Superior Court
                      type: State
                      state: DE
                    caseTags:
                    - Trial
                  - court:
                      name: Kent County Superior Court
                      type: State
                      state: DE
                    caseTags:
                    - Trial
                  - court:
                      name: Sussex County Superior Court
                      type: State
                      state: DE
                    caseTags:
                    - Trial
                  - court:
                      name: New York County Supreme Court
                      type: State
                      state: NY
                    caseTags:
                    - Class Action
                    - Trial
                    - Post-RJI
                    - Pre-RJI
                    - Medical Malpractice (NY)
                  - court:
                      name: Kings County Supreme Court
                      type: State
                      state: NY
                    caseTags:
                    - Class Action
                    - Trial
                    - Post-RJI
                    - Pre-RJI
                    - Medical Malpractice (NY)
                  - court:
                      name: Queens County Supreme Court
                      type: State
                      state: NY
                    caseTags:
                    - Class Action
                    - Trial
                    - Post-RJI
                    - Pre-RJI
                    - Medical Malpractice (NY)
                  - court:
                      name: Bronx County Supreme Court
                      type: State
                      state: NY
                    caseTags:
                    - Class Action
                    - Trial
                    - Post-RJI
                    - Pre-RJI
                    - Medical Malpractice (NY)
                  - court:
                      name: Richmond County Supreme Court
                      type: State
                      state: NY
                    caseTags:
                    - Class Action
                    - Trial
                    - Post-RJI
                    - Pre-RJI
                    - Medical Malpractice (NY)
                  - court:
                      name: Chatham County Superior Court
                      type: State
                      state: GA
                    caseTags:
                    - Medical Malpractice (GA)
                    - Trial
                    - Collections (GA)
                  - court:
                      name: Chatham County State Court
                      type: State
                      state: GA
                    caseTags:
                    - Medical Malpractice (GA)
                    - Trial
                    - Collections (GA)
                  - court:
                      name: Clayton County Superior Court
                      type: State
                      state: GA
                    caseTags:
                    - Medical Malpractice (GA)
                    - Trial
                    - Collections (GA)
                  - court:
                      name: Gwinnett County Superior Court
                      type: State
                      state: GA
                    caseTags:
                    - Medical Malpractice (GA)
                    - Trial
                    - Collections (GA)
                  - court:
                      name: Bibb County Superior Court
                      type: State
                      state: GA
                    caseTags:
                    - Medical Malpractice (GA)
                    - Trial
                    - Collections (GA)
                  - court:
                      name: Cherokee County Superior Court
                      type: State
                      state: GA
                    caseTags:
                    - Medical Malpractice (GA)
                    - Trial
                    - Collections (GA)
                  - court:
                      name: Douglas County Superior Court
                      type: State
                      state: GA
                    caseTags:
                    - Medical Malpractice (GA)
                    - Trial
                    - Collections (GA)
                  - court:
                      name: Floyd County Superior Court
                      type: State
                      state: GA
                    caseTags:
                    - Medical Malpractice (GA)
                    - Trial
                    - Collections (GA)
                  - court:
                      name: Henry County Superior Court
                      type: State
                      state: GA
                    caseTags:
                    - Medical Malpractice (GA)
                    - Trial
                    - Collections (GA)
                  - court:
                      name: Lowndes County Superior Court
                      type: State
                      state: GA
                    caseTags:
                    - Medical Malpractice (GA)
                    - Trial
                    - Collections (GA)
                  - court:
                      name: Forsyth County Superior Court
                      type: State
                      state: GA
                    caseTags:
                    - Medical Malpractice (GA)
                    - Trial
                    - Collections (GA)
                  - court:
                      name: Rockdale County Superior Court
                      type: State
                      state: GA
                    caseTags:
                    - Medical Malpractice (GA)
                    - Trial
                    - Collections (GA)
                  - court:
                      name: Spalding County Superior Court
                      type: State
                      state: GA
                    caseTags:
                    - Medical Malpractice (GA)
                    - Trial
                    - Collections (GA)
                  - court:
                      name: Effingham County Superior Court
                      type: State
                      state: GA
                    caseTags:
                    - Medical Malpractice (GA)
                    - Trial
                    - Collections (GA)
                  - court:
                      name: Cherokee County State Court
                      type: State
                      state: GA
                    caseTags:
                    - Medical Malpractice (GA)
                    - Trial
                    - Collections (GA)
                  - court:
                      name: Gwinnett County State Court
                      type: State
                      state: GA
                    caseTags:
                    - Medical Malpractice (GA)
                    - Trial
                    - Collections (GA)
                  - court:
                      name: Forsyth County State Court
                      type: State
                      state: GA
                    caseTags:
                    - Medical Malpractice (GA)
                    - Trial
                    - Collections (GA)
                  - court:
                      name: Houston County State Court
                      type: State
                      state: GA
                    caseTags:
                    - Medical Malpractice (GA)
                    - Trial
                    - Collections (GA)
                  - court:
                      name: Lowndes County State Court
                      type: State
                      state: GA
                    caseTags:
                    - Medical Malpractice (GA)
                    - Trial
                    - Collections (GA)
                  - court:
                      name: Rockdale County State Court
                      type: State
                      state: GA
                    caseTags:
                    - Medical Malpractice (GA)
                    - Trial
                    - Collections (GA)
                  - court:
                      name: Spalding County State Court
                      type: State
                      state: GA
                    caseTags:
                    - Medical Malpractice (GA)
                    - Trial
                    - Collections (GA)
                  - court:
                      name: Effingham County State Court
                      type: State
                      state: GA
                    caseTags:
                    - Medical Malpractice (GA)
                    - Trial
                    - Collections (GA)
                  - court:
                      name: Adair County District Court
                      type: State
                      state: OK
                    caseTags:
                    - Collections (OK)
                    - Trial
                  - court:
                      name: Canadian County District Court
                      type: State
                      state: OK
                    caseTags:
                    - Collections (OK)
                    - Trial
                  - court:
                      name: Cleveland County District Court
                      type: State
                      state: OK
                    caseTags:
                    - Collections (OK)
                    - Trial
                  - court:
                      name: Comanche County District Court
                      type: State
                      state: OK
                    caseTags:
                    - Collections (OK)
                    - Trial
                  - court:
                      name: Ellis County District Court
                      type: State
                      state: OK
                    caseTags:
                    - Collections (OK)
                    - Trial
                  - court:
                      name: Garfield County District Court
                      type: State
                      state: OK
                    caseTags:
                    - Collections (OK)
                    - Trial
                  - court:
                      name: Logan County District Court
                      type: State
                      state: OK
                    caseTags:
                    - Collections (OK)
                    - Trial
                  - court:
                      name: Oklahoma County District Court
                      type: State
                      state: OK
                    caseTags:
                    - Collections (OK)
                    - Trial
                  - court:
                      name: Payne County District Court
                      type: State
                      state: OK
                    caseTags:
                    - Collections (OK)
                    - Trial
                  - court:
                      name: Pushmataha County District Court
                      type: State
                      state: OK
                    caseTags:
                    - Collections (OK)
                    - Trial
                  - court:
                      name: Roger Mills County District Court
                      type: State
                      state: OK
                    caseTags:
                    - Collections (OK)
                    - Trial
                  - court:
                      name: Rogers County District Court
                      type: State
                      state: OK
                    caseTags:
                    - Collections (OK)
                    - Trial
                  - court:
                      name: Tulsa County District Court
                      type: State
                      state: OK
                    caseTags:
                    - Collections (OK)
                    - Trial
                  - court:
                      name: Nassau County Supreme Court
                      type: State
                      state: NY
                    caseTags:
                    - Class Action
                    - Trial
                    - Post-RJI
                    - Pre-RJI
                    - Medical Malpractice (NY)
                  - court:
                      name: Suffolk County Supreme Court
                      type: State
                      state: NY
                    caseTags:
                    - Class Action
                    - Trial
                    - Post-RJI
                    - Pre-RJI
                    - Medical Malpractice (NY)
                  - court:
                      name: Westchester County Supreme Court
                      type: State
                      state: NY
                    caseTags:
                    - Class Action
                    - Trial
                    - Post-RJI
                    - Pre-RJI
                    - Medical Malpractice (NY)
                  - court:
                      name: Hamilton County Court of Common Pleas
                      type: State
                      state: OH
                    caseTags:
                    - Class Action
                    - Medical Malpractice (OH)
                    - Commercial Docket (OH)
                    - Trial
        '422':
          description: Error - 422
          content:
            application/json:
              examples:
                Invalid Input:
                  summary: Invalid Input
                  value:
                    detail:
                    - type: enum
                      loc:
                      - path
                      - court_type
                      msg: Input should be 'FederalDistrict', 'State', 'FederalAppeals', 'FederalBankruptcy', 'PTAB' or 'ITC'
                      input: string
                      ctx:
                        expected: '''FederalDistrict'', ''State'', ''FederalAppeals'', ''FederalBankruptcy'', ''PTAB'' or ''ITC'''
                Unsupported Court Type:
                  summary: Unsupported Court Type
                  value:
                    detail: Case Tags not used for ITC
                Validation error:
                  summary: Validation error
                  value:
                    summary: Invalid input
                    detail:
                    - type: parsing
                      loc:
                      - path
                      - query
                      - body
                      msg: invalid input
                      input: '-1'
        '401':
          description: Invalid or expired token
          content:
            application/json:
              examples:
                Expired token:
                  summary: Expired token
                  value:
                    detail: 'Token time expired: Signature has expired.'
                Invalid token:
                  summary: Invalid token
                  value:
                    detail: Invalid token
        '404':
          description: Not found
          content:
            application/json:
              examples:
                Not found:
                  summary: Not found
                  value:
                    summary: Unknown id
                    detail: Not Found
  /list-case-types/{court_type}:
    get:
      tags:
      - List
      summary: List Case Types
      description: 'Lists case tags for a given court type for use with querying.


        - **court_type**: the relevant court type'
      operationId: list_case_types
      security:
      - JwtAccessBearer: []
      parameters:
      - name: court_type
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/CourtType'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CaseTypesList'
                title: Response List Case Types List Case Types  Court Type  Get
              examples:
                List Of Valid Case Types For FederalDistrict:
                  summary: List Of Valid Case Types For FederalDistrict
                  value:
                  - court:
                      name: All Federal District Courts
                      type: FederalDistrict
                    caseTypes:
                    - Antitrust
                    - Bankruptcy
                    - Civil Rights
                    - Class Action
                    - Consumer Protection
                    - Contracts
                    - Copyright
                    - ERISA
                    - Employment
                    - Environmental
                    - False Claims
                    - Insurance
                    - Internet
                    - Patent
                    - Product Liability
                    - Real Property
                    - Securities
                    - Surety Bond
                    - Tax
                    - Torts
                    - Trade Secret
                    - Trademark
                    - Uncategorized Case
                List Of Valid Case Types For State:
                  summary: List Of Valid Case Types For State
                  value:
                  - court:
                      name: Los Angeles County Superior Court
                      type: State
                      state: CA
                    caseTypes:
                    - Medical Malpractice (CA)
                    - Torts (Non-Vehicle) (CA)
                    - Other Civil (CA)
                    - Contracts (CA)
                    - Employment (CA)
                    - Real Property (CA)
                    - Product Liability (CA)
                    - Torts (Vehicle) (CA)
                  - court:
                      name: Harris County District Court
                      type: State
                      state: TX
                    caseTypes:
                    - Contract (TX)
                    - Employment (TX)
                    - Injury or Damage (TX)
                    - Multi-District Litigation (MDL) (TX)
                    - Other Civil (TX)
                    - Real Property (TX)
                    - Related to Criminal Matters (TX)
                    - Tax (TX)
                  - court:
                      name: Harris County Court
                      type: State
                      state: TX
                    caseTypes:
                    - Injury or Damage (TX_HC)
                    - Other / Legacy / Administrative (TX_HC)
                    - Real Property (TX_HC)
                    - Tax (TX_HC)
                    - Other Civil (TX)
                    - Related to Criminal Matters (TX)
                    - Appealed from Lower Courts (TX_HC)
                    - Related to Criminal Matters (TX_HC)
                    - Contract (TX_HC)
                  - court:
                      name: Court of Chancery
                      type: State
                      state: DE
                    caseTypes:
                    - DCC Administrative Law
                    - DCC Commercial Law
                    - DCC Consent Trust Petitions
                    - DCC Constitutional Law
                    - DCC Corporation Law
                    - DCC Labor Law
                    - DCC Partition
                    - DCC Rapid Arbitration
                    - DCC Real Property
                    - DCC Trade Secret / IP
                    - DCC Trusts, Wills and Estates
                    - DCC Uniform Arbitration Act
                    - DCC Zoning
                    - DCC § 348 Deed Restrictions
                    - DCC Other Field of Law
                    - DCC Not Indicated
                  - court:
                      name: Fort Bend County Court
                      type: State
                      state: TX
                    caseTypes:
                    - Contract (TX)
                    - Injury or Damage (TX)
                    - Other Civil (TX)
                    - Real Property (TX)
                    - Related to Criminal Matters (TX)
                  - court:
                      name: Fort Bend County District Court
                      type: State
                      state: TX
                    caseTypes:
                    - Contract (TX)
                    - Injury or Damage (TX)
                    - Other Civil (TX)
                    - Real Property (TX)
                    - Related to Criminal Matters (TX)
                    - Tax (TX)
                  - court:
                      name: Sacramento County Superior Court
                      type: State
                      state: CA
                    caseTypes:
                    - Medical Malpractice (CA)
                    - Torts (Non-Vehicle) (CA)
                    - Other Civil (CA)
                    - Contracts (CA)
                    - Employment (CA)
                    - Real Property (CA)
                    - Product Liability (CA)
                    - Torts (Vehicle) (CA)
                  - court:
                      name: San Bernardino County Superior Court
                      type: State
                      state: CA
                    caseTypes:
                    - Medical Malpractice (CA)
                    - Torts (Non-Vehicle) (CA)
                    - Other Civil (CA)
                    - Contracts (CA)
                    - Employment (CA)
                    - Real Property (CA)
                    - Product Liability (CA)
                    - Torts (Vehicle) (CA)
                  - court:
                      name: Riverside County Superior Court
                      type: State
                      state: CA
                    caseTypes:
                    - Medical Malpractice (CA)
                    - Torts (Non-Vehicle) (CA)
                    - Other Civil (CA)
                    - Contracts (CA)
                    - Employment (CA)
                    - Real Property (CA)
                    - Product Liability (CA)
                    - Torts (Vehicle) (CA)
                  - court:
                      name: Orange County Superior Court
                      type: State
                      state: CA
                    caseTypes:
                    - Medical Malpractice (CA)
                    - Torts (Non-Vehicle) (CA)
                    - Other Civil (CA)
                    - Contracts (CA)
                    - Employment (CA)
                    - Real Property (CA)
                    - Product Liability (CA)
                    - Torts (Vehicle) (CA)
                  - court:
                      name: Clark County District Court
                      type: State
                      state: NV
                    caseTypes:
                    - Business Court (NV)
                    - Civil Writ (NV)
                    - Construction Defect & Contract (NV)
                    - Judicial Review / Appeal (NV)
                    - Other Civil Filing (NV)
                    - Real Property (NV)
                    - Torts (NV)
                  - court:
                      name: San Diego County Superior Court
                      type: State
                      state: CA
                    caseTypes:
                    - Medical Malpractice (CA)
                    - Torts (Non-Vehicle) (CA)
                    - Other Civil (CA)
                    - Contracts (CA)
                    - Employment (CA)
                    - Real Property (CA)
                    - Product Liability (CA)
                    - Torts (Vehicle) (CA)
                  - court:
                      name: King County Superior Court
                      type: State
                      state: WA
                    caseTypes:
                    - Employment (WA)
                    - Appeal / Judicial Review (WA)
                    - Contract / Commercial (WA)
                    - Property Rights (WA)
                    - Other Complaint / Petition (WA)
                    - Torts (Non-Vehicle) (WA)
                    - Torts (Vehicle) (WA)
                    - Medical Malpractice (WA)
                    - Asbestos (WA)
                  - court:
                      name: DeKalb County Superior Court
                      type: State
                      state: GA
                    caseTypes:
                    - Other Civil (GA)
                    - Torts (GA)
                    - Civil Writ (GA)
                    - Appeal / Judicial Review (GA)
                    - Tax Appeal (GA)
                    - Property (GA)
                    - Contract (GA)
                  - court:
                      name: DeKalb County State Court
                      type: State
                      state: GA
                    caseTypes:
                    - Other Civil (GA)
                    - Torts (GA)
                    - Civil Writ (GA)
                    - Appeal / Judicial Review (GA)
                    - Tax Appeal (GA)
                    - Property (GA)
                    - Contract (GA)
                  - court:
                      name: Fulton County Superior Court
                      type: State
                      state: GA
                    caseTypes:
                    - Other Civil (GA)
                    - Torts (GA)
                    - Civil Writ (GA)
                    - Appeal / Judicial Review (GA)
                    - Tax Appeal (GA)
                    - Property (GA)
                    - Contract (GA)
                  - court:
                      name: Fulton County State Court
                      type: State
                      state: GA
                    caseTypes:
                    - Other Civil (GA)
                    - Torts (GA)
                    - Civil Writ (GA)
                    - Appeal / Judicial Review (GA)
                    - Tax Appeal (GA)
                    - Property (GA)
                    - Contract (GA)
                  - court:
                      name: Alameda County Superior Court
                      type: State
                      state: CA
                    caseTypes:
                    - Medical Malpractice (CA)
                    - Torts (Non-Vehicle) (CA)
                    - Other Civil (CA)
                    - Contracts (CA)
                    - Employment (CA)
                    - Real Property (CA)
                    - Product Liability (CA)
                    - Torts (Vehicle) (CA)
                  - court:
                      name: Multnomah County Circuit Court
                      type: State
                      state: OR
                    caseTypes:
                    - Contract (OR)
                    - Other Civil (OR)
                    - Real Property (OR)
                    - Torts (General) (OR)
                    - Torts (Legal Malpractice) (OR)
                    - Torts (Medical Malpractice) (OR)
                    - Torts (Products Liability) (OR)
                    - Torts (Wrongful Death) (OR)
                  - court:
                      name: Benton County Circuit Court
                      type: State
                      state: OR
                    caseTypes:
                    - Contract (OR)
                    - Other Civil (OR)
                    - Real Property (OR)
                    - Torts (General) (OR)
                    - Torts (Legal Malpractice) (OR)
                    - Torts (Medical Malpractice) (OR)
                    - Torts (Products Liability) (OR)
                    - Torts (Wrongful Death) (OR)
                  - court:
                      name: Clackamas County Circuit Court
                      type: State
                      state: OR
                    caseTypes:
                    - Contract (OR)
                    - Other Civil (OR)
                    - Real Property (OR)
                    - Torts (General) (OR)
                    - Torts (Legal Malpractice) (OR)
                    - Torts (Medical Malpractice) (OR)
                    - Torts (Products Liability) (OR)
                    - Torts (Wrongful Death) (OR)
                  - court:
                      name: Deschutes County Circuit Court
                      type: State
                      state: OR
                    caseTypes:
                    - Contract (OR)
                    - Other Civil (OR)
                    - Real Property (OR)
                    - Torts (General) (OR)
                    - Torts (Legal Malpractice) (OR)
                    - Torts (Medical Malpractice) (OR)
                    - Torts (Products Liability) (OR)
                    - Torts (Wrongful Death) (OR)
                  - court:
                      name: Jackson County Circuit Court
                      type: State
                      state: OR
                    caseTypes:
                    - Contract (OR)
                    - Other Civil (OR)
                    - Real Property (OR)
                    - Torts (General) (OR)
                    - Torts (Legal Malpractice) (OR)
                    - Torts (Medical Malpractice) (OR)
                    - Torts (Products Liability) (OR)
                    - Torts (Wrongful Death) (OR)
                  - court:
                      name: Lane County Circuit Court
                      type: State
                      state: OR
                    caseTypes:
                    - Contract (OR)
                    - Other Civil (OR)
                    - Real Property (OR)
                    - Torts (General) (OR)
                    - Torts (Legal Malpractice) (OR)
                    - Torts (Medical Malpractice) (OR)
                    - Torts (Products Liability) (OR)
                    - Torts (Wrongful Death) (OR)
                  - court:
                      name: Linn County Circuit Court
                      type: State
                      state: OR
                    caseTypes:
                    - Contract (OR)
                    - Other Civil (OR)
                    - Real Property (OR)
                    - Torts (General) (OR)
                    - Torts (Legal Malpractice) (OR)
                    - Torts (Medical Malpractice) (OR)
                    - Torts (Products Liability) (OR)
                    - Torts (Wrongful Death) (OR)
                  - court:
                      name: Marion County Circuit Court
                      type: State
                      state: OR
                    caseTypes:
                    - Contract (OR)
                    - Other Civil (OR)
                    - Real Property (OR)
                    - Torts (General) (OR)
                    - Torts (Legal Malpractice) (OR)
                    - Torts (Medical Malpractice) (OR)
                    - Torts (Products Liability) (OR)
                    - Torts (Wrongful Death) (OR)
                  - court:
                      name: Washington County Circuit Court
                      type: State
                      state: OR
                    caseTypes:
                    - Contract (OR)
                    - Other Civil (OR)
                    - Real Property (OR)
                    - Torts (General) (OR)
                    - Torts (Legal Malpractice) (OR)
                    - Torts (Medical Malpractice) (OR)
                    - Torts (Products Liability) (OR)
                    - Torts (Wrongful Death) (OR)
                  - court:
                      name: Baker County Circuit Court
                      type: State
                      state: OR
                    caseTypes:
                    - Contract (OR)
                    - Other Civil (OR)
                    - Real Property (OR)
                    - Torts (General) (OR)
                    - Torts (Legal Malpractice) (OR)
                    - Torts (Medical Malpractice) (OR)
                    - Torts (Products Liability) (OR)
                    - Torts (Wrongful Death) (OR)
                  - court:
                      name: Clatsop County Circuit Court
                      type: State
                      state: OR
                    caseTypes:
                    - Contract (OR)
                    - Other Civil (OR)
                    - Real Property (OR)
                    - Torts (General) (OR)
                    - Torts (Legal Malpractice) (OR)
                    - Torts (Medical Malpractice) (OR)
                    - Torts (Products Liability) (OR)
                    - Torts (Wrongful Death) (OR)
                  - court:
                      name: Columbia County Circuit Court
                      type: State
                      state: OR
                    caseTypes:
                    - Contract (OR)
                    - Other Civil (OR)
                    - Real Property (OR)
                    - Torts (General) (OR)
                    - Torts (Legal Malpractice) (OR)
                    - Torts (Medical Malpractice) (OR)
                    - Torts (Products Liability) (OR)
                    - Torts (Wrongful Death) (OR)
                  - court:
                      name: Coos County Circuit Court
                      type: State
                      state: OR
                    caseTypes:
                    - Contract (OR)
                    - Other Civil (OR)
                    - Real Property (OR)
                    - Torts (General) (OR)
                    - Torts (Legal Malpractice) (OR)
                    - Torts (Medical Malpractice) (OR)
                    - Torts (Products Liability) (OR)
                    - Torts (Wrongful Death) (OR)
                  - court:
                      name: Crook County Circuit Court
                      type: State
                      state: OR
                    caseTypes:
                    - Contract (OR)
                    - Other Civil (OR)
                    - Real Property (OR)
                    - Torts (General) (OR)
                    - Torts (Legal Malpractice) (OR)
                    - Torts (Medical Malpractice) (OR)
                    - Torts (Products Liability) (OR)
                    - Torts (Wrongful Death) (OR)
                  - court:
                      name: Curry County Circuit Court
                      type: State
                      state: OR
                    caseTypes:
                    - Contract (OR)
                    - Other Civil (OR)
                    - Real Property (OR)
                    - Torts (General) (OR)
                    - Torts (Legal Malpractice) (OR)
                    - Torts (Medical Malpractice) (OR)
                    - Torts (Products Liability) (OR)
                    - Torts (Wrongful Death) (OR)
                  - court:
                      name: Douglas County Circuit Court
                      type: State
                      state: OR
                    caseTypes:
                    - Contract (OR)
                    - Other Civil (OR)
                    - Real Property (OR)
                    - Torts (General) (OR)
                    - Torts (Legal Malpractice) (OR)
                    - Torts (Medical Malpractice) (OR)
                    - Torts (Products Liability) (OR)
                    - Torts (Wrongful Death) (OR)
                  - court:
                      name: Gilliam County Circuit Court
                      type: State
                      state: OR
                    caseTypes:
                    - Contract (OR)
                    - Other Civil (OR)
                    - Real Property (OR)
                    - Torts (General) (OR)
                    - Torts (Legal Malpractice) (OR)
                    - Torts (Medical Malpractice) (OR)
                    - Torts (Products Liability) (OR)
                    - Torts (Wrongful Death) (OR)
                  - court:
                      name: Grant County Circuit Court
                      type: State
                      state: OR
                    caseTypes:
                    - Contract (OR)
                    - Other Civil (OR)
                    - Real Property (OR)
                    - Torts (General) (OR)
                    - Torts (Legal Malpractice) (OR)
                    - Torts (Medical Malpractice) (OR)
                    - Torts (Products Liability) (OR)
                    - Torts (Wrongful Death) (OR)
                  - court:
                      name: Harney County Circuit Court
                      type: State
                      state: OR
                    caseTypes:
                    - Contract (OR)
                    - Other Civil (OR)
                    - Real Property (OR)
                    - Torts (General) (OR)
                    - Torts (Legal Malpractice) (OR)
                    - Torts (Medical Malpractice) (OR)
                    - Torts (Products Liability) (OR)
                    - Torts (Wrongful Death) (OR)
                  - court:
                      name: Hood River County Circuit Court
                      type: State
                      state: OR
                    caseTypes:
                    - Contract (OR)
                    - Other Civil (OR)
                    - Real Property (OR)
                    - Torts (General) (OR)
                    - Torts (Legal Malpractice) (OR)
                    - Torts (Medical Malpractice) (OR)
                    - Torts (Products Liability) (OR)
                    - Torts (Wrongful Death) (OR)
                  - court:
                      name: Jefferson County Circuit Court
                      type: State
                      state: OR
                    caseTypes:
                    - Contract (OR)
                    - Other Civil (OR)
                    - Real Property (OR)
                    - Torts (General) (OR)
                    - Torts (Legal Malpractice) (OR)
                    - Torts (Medical Malpractice) (OR)
                    - Torts (Products Liability) (OR)
                    - Torts (Wrongful Death) (OR)
                  - court:
                      name: Josephine County Circuit Court
                      type: State
                      state: OR
                    caseTypes:
                    - Contract (OR)
                    - Other Civil (OR)
                    - Real Property (OR)
                    - Torts (General) (OR)
                    - Torts (Legal Malpractice) (OR)
                    - Torts (Medical Malpractice) (OR)
                    - Torts (Products Liability) (OR)
                    - Torts (Wrongful Death) (OR)
                  - court:
                      name: Klamath County Circuit Court
                      type: State
                      state: OR
                    caseTypes:
                    - Contract (OR)
                    - Other Civil (OR)
                    - Real Property (OR)
                    - Torts (General) (OR)
                    - Torts (Legal Malpractice) (OR)
                    - Torts (Medical Malpractice) (OR)
                    - Torts (Products Liability) (OR)
                    - Torts (Wrongful Death) (OR)
                  - court:
                      name: Lake County Circuit Court
                      type: State
                      state: OR
                    caseTypes:
                    - Contract (OR)
                    - Other Civil (OR)
                    - Real Property (OR)
                    - Torts (General) (OR)
                    - Torts (Legal Malpractice) (OR)
                    - Torts (Medical Malpractice) (OR)
                    - Torts (Products Liability) (OR)
                    - Torts (Wrongful Death) (OR)
                  - court:
                      name: Lincoln County Circuit Court
                      type: State
                      state: OR
                    caseTypes:
                    - Contract (OR)
                    - Other Civil (OR)
                    - Real Property (OR)
                    - Torts (General) (OR)
                    - Torts (Legal Malpractice) (OR)
                    - Torts (Medical Malpractice) (OR)
                    - Torts (Products Liability) (OR)
                    - Torts (Wrongful Death) (OR)
                  - court:
                      name: Malheur County Circuit Court
                      type: State
                      state: OR
                    caseTypes:
                    - Contract (OR)
                    - Other Civil (OR)
                    - Real Property (OR)
                    - Torts (General) (OR)
                    - Torts (Legal Malpractice) (OR)
                    - Torts (Medical Malpractice) (OR)
                    - Torts (Products Liability) (OR)
                    - Torts (Wrongful Death) (OR)
                  - court:
                      name: Morrow County Circuit Court
                      type: State
                      state: OR
                    caseTypes:
                    - Contract (OR)
                    - Other Civil (OR)
                    - Real Property (OR)
                    - Torts (General) (OR)
                    - Torts (Legal Malpractice) (OR)
                    - Torts (Medical Malpractice) (OR)
                    - Torts (Products Liability) (OR)
                    - Torts (Wrongful Death) (OR)
                  - court:
                      name: Polk County Circuit Court
                      type: State
                      state: OR
                    caseTypes:
                    - Contract (OR)
                    - Other Civil (OR)
                    - Real Property (OR)
                    - Torts (General) (OR)
                    - Torts (Legal Malpractice) (OR)
                    - Torts (Medical Malpractice) (OR)
                    - Torts (Products Liability) (OR)
                    - Torts (Wrongful Death) (OR)
                  - court:
                      name: Sherman County Circuit Court
                      type: State
                      state: OR
                    caseTypes:
                    - Contract (OR)
                    - Other Civil (OR)
                    - Real Property (OR)
                    - Torts (General) (OR)
                    - Torts (Legal Malpractice) (OR)
                    - Torts (Medical Malpractice) (OR)
                    - Torts (Products Liability) (OR)
                    - Torts (Wrongful Death) (OR)
                  - court:
                      name: Tillamook County Circuit Court
                      type: State
                      state: OR
                    caseTypes:
                    - Contract (OR)
                    - Other Civil (OR)
                    - Real Property (OR)
                    - Torts (General) (OR)
                    - Torts (Legal Malpractice) (OR)
                    - Torts (Medical Malpractice) (OR)
                    - Torts (Products Liability) (OR)
                    - Torts (Wrongful Death) (OR)
                  - court:
                      name: Umatilla County Circuit Court
                      type: State
                      state: OR
                    caseTypes:
                    - Contract (OR)
                    - Other Civil (OR)
                    - Real Property (OR)
                    - Torts (General) (OR)
                    - Torts (Legal Malpractice) (OR)
                    - Torts (Medical Malpractice) (OR)
                    - Torts (Products Liability) (OR)
                    - Torts (Wrongful Death) (OR)
                  - court:
                      name: Union County Circuit Court
                      type: State
                      state: OR
                    caseTypes:
                    - Contract (OR)
                    - Other Civil (OR)
                    - Real Property (OR)
                    - Torts (General) (OR)
                    - Torts (Legal Malpractice) (OR)
                    - Torts (Medical Malpractice) (OR)
                    - Torts (Products Liability) (OR)
                    - Torts (Wrongful Death) (OR)
                  - court:
                      name: Wallowa County Circuit Court
                      type: State
                      state: OR
                    caseTypes: []
                  - court:
                      name: Wasco County Circuit Court
                      type: State
                      state: OR
                    caseTypes:
                    - Contract (OR)
                    - Other Civil (OR)
                    - Real Property (OR)
                    - Torts (General) (OR)
                    - Torts (Legal Malpractice) (OR)
                    - Torts (Medical Malpractice) (OR)
                    - Torts (Products Liability) (OR)
                    - Torts (Wrongful Death) (OR)
                  - court:
                      name: Wheeler County Circuit Court
                      type: State
                      state: OR
                    caseTypes:
                    - Contract (OR)
                    - Other Civil (OR)
                    - Real Property (OR)
                    - Torts (General) (OR)
                    - Torts (Legal Malpractice) (OR)
                    - Torts (Medical Malpractice) (OR)
                    - Torts (Products Liability) (OR)
                    - Torts (Wrongful Death) (OR)
                  - court:
                      name: Yamhill County Circuit Court
                      type: State
                      state: OR
                    caseTypes:
                    - Contract (OR)
                    - Other Civil (OR)
                    - Real Property (OR)
                    - Torts (General) (OR)
                    - Torts (Legal Malpractice) (OR)
                    - Torts (Medical Malpractice) (OR)
                    - Torts (Products Liability) (OR)
                    - Torts (Wrongful Death) (OR)
                  - court:
                      name: New Castle County Superior Court
                      type: State
                      state: DE
                    caseTypes:
                    - Torts (Medical Malpractice) (DE)
                    - Torts (Non-Vehicle) (DE)
                    - Torts (Products Liability) (DE)
                    - Torts (Vehicle) (DE)
                    - Appeal / Judicial Review (DE)
                    - Appealed from Lower Courts (DE)
                    - Asbestos (DE)
                    - Complex Commercial Litigation Division (DE)
                    - Contract (DE)
                    - Other Civil (DE)
                    - Real Property (DE)
                    - Torts (Legal Malpractice) (DE)
                    - Torts (Mass) (DE)
                  - court:
                      name: Kent County Superior Court
                      type: State
                      state: DE
                    caseTypes:
                    - Torts (Medical Malpractice) (DE)
                    - Torts (Non-Vehicle) (DE)
                    - Torts (Products Liability) (DE)
                    - Torts (Vehicle) (DE)
                    - Appeal / Judicial Review (DE)
                    - Appealed from Lower Courts (DE)
                    - Asbestos (DE)
                    - Complex Commercial Litigation Division (DE)
                    - Contract (DE)
                    - Other Civil (DE)
                    - Real Property (DE)
                    - Torts (Legal Malpractice) (DE)
                    - Torts (Mass) (DE)
                  - court:
                      name: Sussex County Superior Court
                      type: State
                      state: DE
                    caseTypes:
                    - Torts (Medical Malpractice) (DE)
                    - Torts (Non-Vehicle) (DE)
                    - Torts (Products Liability) (DE)
                    - Torts (Vehicle) (DE)
                    - Appeal / Judicial Review (DE)
                    - Appealed from Lower Courts (DE)
                    - Asbestos (DE)
                    - Complex Commercial Litigation Division (DE)
                    - Contract (DE)
                    - Other Civil (DE)
                    - Real Property (DE)
                    - Torts (Legal Malpractice) (DE)
                    - Torts (Mass) (DE)
                  - court:
                      name: New York County Supreme Court
                      type: State
                      state: NY
                    caseTypes:
                    - Asbestos (NY)
                    - Commercial (NY)
                    - Commercial Division (NY)
                    - 'Emergency Applications re: Coronavirus (NY)'
                    - Employment / Labor (NY)
                    - Other Matters (NY)
                    - Real Property (NY)
                    - Special Proceedings (NY)
                    - Tax Certiorari (NY)
                    - Torts (NY)
                  - court:
                      name: Kings County Supreme Court
                      type: State
                      state: NY
                    caseTypes:
                    - Asbestos (NY)
                    - Commercial (NY)
                    - Commercial Division (NY)
                    - 'Emergency Applications re: Coronavirus (NY)'
                    - Employment / Labor (NY)
                    - Other Matters (NY)
                    - Real Property (NY)
                    - Special Proceedings (NY)
                    - Tax Certiorari (NY)
                    - Torts (NY)
                  - court:
                      name: Queens County Supreme Court
                      type: State
                      state: NY
                    caseTypes:
                    - Asbestos (NY)
                    - Commercial (NY)
                    - Commercial Division (NY)
                    - 'Emergency Applications re: Coronavirus (NY)'
                    - Employment / Labor (NY)
                    - Other Matters (NY)
                    - Real Property (NY)
                    - Special Proceedings (NY)
                    - Tax Certiorari (NY)
                    - Torts (NY)
                  - court:
                      name: Bronx County Supreme Court
                      type: State
                      state: NY
                    caseTypes:
                    - Asbestos (NY)
                    - Commercial (NY)
                    - 'Emergency Applications re: Coronavirus (NY)'
                    - Employment / Labor (NY)
                    - Other Matters (NY)
                    - Real Property (NY)
                    - Special Proceedings (NY)
                    - Tax Certiorari (NY)
                    - Torts (NY)
                  - court:
                      name: Richmond County Supreme Court
                      type: State
                      state: NY
                    caseTypes:
                    - Asbestos (NY)
                    - Commercial (NY)
                    - 'Emergency Applications re: Coronavirus (NY)'
                    - Employment / Labor (NY)
                    - Other Matters (NY)
                    - Real Property (NY)
                    - Special Proceedings (NY)
                    - Tax Certiorari (NY)
                    - Torts (NY)
                  - court:
                      name: Chatham County Superior Court
                      type: State
                      state: GA
                    caseTypes:
                    - Other Civil (GA)
                    - Torts (GA)
                    - Civil Writ (GA)
                    - Appeal / Judicial Review (GA)
                    - Tax Appeal (GA)
                    - Property (GA)
                    - Contract (GA)
                  - court:
                      name: Chatham County State Court
                      type: State
                      state: GA
                    caseTypes:
                    - Other Civil (GA)
                    - Torts (GA)
                    - Civil Writ (GA)
                    - Appeal / Judicial Review (GA)
                    - Tax Appeal (GA)
                    - Property (GA)
                    - Contract (GA)
                  - court:
                      name: Clayton County Superior Court
                      type: State
                      state: GA
                    caseTypes:
                    - Other Civil (GA)
                    - Torts (GA)
                    - Civil Writ (GA)
                    - Appeal / Judicial Review (GA)
                    - Tax Appeal (GA)
                    - Property (GA)
                    - Contract (GA)
                  - court:
                      name: Gwinnett County Superior Court
                      type: State
                      state: GA
                    caseTypes:
                    - Other Civil (GA)
                    - Torts (GA)
                    - Civil Writ (GA)
                    - Appeal / Judicial Review (GA)
                    - Tax Appeal (GA)
                    - Property (GA)
                    - Contract (GA)
                  - court:
                      name: Bibb County Superior Court
                      type: State
                      state: GA
                    caseTypes:
                    - Other Civil (GA)
                    - Torts (GA)
                    - Civil Writ (GA)
                    - Appeal / Judicial Review (GA)
                    - Tax Appeal (GA)
                    - Property (GA)
                    - Contract (GA)
                  - court:
                      name: Cherokee County Superior Court
                      type: State
                      state: GA
                    caseTypes:
                    - Other Civil (GA)
                    - Torts (GA)
                    - Civil Writ (GA)
                    - Appeal / Judicial Review (GA)
                    - Tax Appeal (GA)
                    - Property (GA)
                    - Contract (GA)
                  - court:
                      name: Douglas County Superior Court
                      type: State
                      state: GA
                    caseTypes:
                    - Other Civil (GA)
                    - Torts (GA)
                    - Civil Writ (GA)
                    - Appeal / Judicial Review (GA)
                    - Tax Appeal (GA)
                    - Property (GA)
                    - Contract (GA)
                  - court:
                      name: Floyd County Superior Court
                      type: State
                      state: GA
                    caseTypes:
                    - Other Civil (GA)
                    - Torts (GA)
                    - Civil Writ (GA)
                    - Appeal / Judicial Review (GA)
                    - Tax Appeal (GA)
                    - Property (GA)
                    - Contract (GA)
                  - court:
                      name: Henry County Superior Court
                      type: State
                      state: GA
                    caseTypes:
                    - Other Civil (GA)
                    - Torts (GA)
                    - Civil Writ (GA)
                    - Appeal / Judicial Review (GA)
                    - Tax Appeal (GA)
                    - Property (GA)
                    - Contract (GA)
                  - court:
                      name: Lowndes County Superior Court
                      type: State
                      state: GA
                    caseTypes:
                    - Other Civil (GA)
                    - Torts (GA)
                    - Civil Writ (GA)
                    - Appeal / Judicial Review (GA)
                    - Tax Appeal (GA)
                    - Property (GA)
                    - Contract (GA)
                  - court:
                      name: Forsyth County Superior Court
                      type: State
                      state: GA
                    caseTypes:
                    - Other Civil (GA)
                    - Torts (GA)
                    - Civil Writ (GA)
                    - Appeal / Judicial Review (GA)
                    - Tax Appeal (GA)
                    - Property (GA)
                    - Contract (GA)
                  - court:
                      name: Rockdale County Superior Court
                      type: State
                      state: GA
                    caseTypes:
                    - Other Civil (GA)
                    - Torts (GA)
                    - Civil Writ (GA)
                    - Appeal / Judicial Review (GA)
                    - Tax Appeal (GA)
                    - Property (GA)
                    - Contract (GA)
                  - court:
                      name: Spalding County Superior Court
                      type: State
                      state: GA
                    caseTypes:
                    - Other Civil (GA)
                    - Torts (GA)
                    - Civil Writ (GA)
                    - Appeal / Judicial Review (GA)
                    - Tax Appeal (GA)
                    - Property (GA)
                    - Contract (GA)
                  - court:
                      name: Effingham County Superior Court
                      type: State
                      state: GA
                    caseTypes:
                    - Other Civil (GA)
                    - Torts (GA)
                    - Civil Writ (GA)
                    - Appeal / Judicial Review (GA)
                    - Tax Appeal (GA)
                    - Property (GA)
                    - Contract (GA)
                  - court:
                      name: Cherokee County State Court
                      type: State
                      state: GA
                    caseTypes:
                    - Other Civil (GA)
                    - Torts (GA)
                    - Civil Writ (GA)
                    - Appeal / Judicial Review (GA)
                    - Tax Appeal (GA)
                    - Property (GA)
                    - Contract (GA)
                  - court:
                      name: Gwinnett County State Court
                      type: State
                      state: GA
                    caseTypes:
                    - Other Civil (GA)
                    - Torts (GA)
                    - Civil Writ (GA)
                    - Appeal / Judicial Review (GA)
                    - Tax Appeal (GA)
                    - Property (GA)
                    - Contract (GA)
                  - court:
                      name: Forsyth County State Court
                      type: State
                      state: GA
                    caseTypes:
                    - Other Civil (GA)
                    - Torts (GA)
                    - Civil Writ (GA)
                    - Appeal / Judicial Review (GA)
                    - Tax Appeal (GA)
                    - Property (GA)
                    - Contract (GA)
                  - court:
                      name: Houston County State Court
                      type: State
                      state: GA
                    caseTypes:
                    - Other Civil (GA)
                    - Torts (GA)
                    - Civil Writ (GA)
                    - Appeal / Judicial Review (GA)
                    - Tax Appeal (GA)
                    - Property (GA)
                    - Contract (GA)
                  - court:
                      name: Lowndes County State Court
                      type: State
                      state: GA
                    caseTypes:
                    - Other Civil (GA)
                    - Torts (GA)
                    - Civil Writ (GA)
                    - Appeal / Judicial Review (GA)
                    - Tax Appeal (GA)
                    - Property (GA)
                    - Contract (GA)
                  - court:
                      name: Rockdale County State Court
                      type: State
                      state: GA
                    caseTypes:
                    - Other Civil (GA)
                    - Torts (GA)
                    - Civil Writ (GA)
                    - Appeal / Judicial Review (GA)
                    - Tax Appeal (GA)
                    - Property (GA)
                    - Contract (GA)
                  - court:
                      name: Spalding County State Court
                      type: State
                      state: GA
                    caseTypes:
                    - Other Civil (GA)
                    - Torts (GA)
                    - Civil Writ (GA)
                    - Appeal / Judicial Review (GA)
                    - Tax Appeal (GA)
                    - Property (GA)
                    - Contract (GA)
                  - court:
                      name: Effingham County State Court
                      type: State
                      state: GA
                    caseTypes:
                    - Other Civil (GA)
                    - Torts (GA)
                    - Civil Writ (GA)
                    - Appeal / Judicial Review (GA)
                    - Tax Appeal (GA)
                    - Property (GA)
                    - Contract (GA)
                  - court:
                      name: Adair County District Court
                      type: State
                      state: OK
                    caseTypes:
                    - Appeal / Judicial Review (OK)
                    - Contracts (OK)
                    - Medical Malpractice (OK)
                    - Other Civil (OK)
                    - Real Property (OK)
                    - Torts (OK)
                  - court:
                      name: Canadian County District Court
                      type: State
                      state: OK
                    caseTypes:
                    - Appeal / Judicial Review (OK)
                    - Contracts (OK)
                    - Medical Malpractice (OK)
                    - Other Civil (OK)
                    - Real Property (OK)
                    - Torts (OK)
                  - court:
                      name: Cleveland County District Court
                      type: State
                      state: OK
                    caseTypes:
                    - Appeal / Judicial Review (OK)
                    - Contracts (OK)
                    - Medical Malpractice (OK)
                    - Other Civil (OK)
                    - Real Property (OK)
                    - Torts (OK)
                  - court:
                      name: Comanche County District Court
                      type: State
                      state: OK
                    caseTypes:
                    - Appeal / Judicial Review (OK)
                    - Contracts (OK)
                    - Medical Malpractice (OK)
                    - Other Civil (OK)
                    - Real Property (OK)
                    - Torts (OK)
                  - court:
                      name: Ellis County District Court
                      type: State
                      state: OK
                    caseTypes:
                    - Appeal / Judicial Review (OK)
                    - Contracts (OK)
                    - Medical Malpractice (OK)
                    - Other Civil (OK)
                    - Real Property (OK)
                    - Torts (OK)
                  - court:
                      name: Garfield County District Court
                      type: State
                      state: OK
                    caseTypes:
                    - Appeal / Judicial Review (OK)
                    - Contracts (OK)
                    - Medical Malpractice (OK)
                    - Other Civil (OK)
                    - Real Property (OK)
                    - Torts (OK)
                  - court:
                      name: Logan County District Court
                      type: State
                      state: OK
                    caseTypes:
                    - Appeal / Judicial Review (OK)
                    - Contracts (OK)
                    - Medical Malpractice (OK)
                    - Other Civil (OK)
                    - Real Property (OK)
                    - Torts (OK)
                  - court:
                      name: Oklahoma County District Court
                      type: State
                      state: OK
                    caseTypes:
                    - Appeal / Judicial Review (OK)
                    - Contracts (OK)
                    - Medical Malpractice (OK)
                    - Other Civil (OK)
                    - Real Property (OK)
                    - Torts (OK)
[...]
