openapi: 3.1.0
info:
  title: Lex Machina Alerts PTAB Trials API
  version: '20260324'
  description: Alerts.
servers:
- url: https://api.lexmachina.com
  description: Lex Machina production API
tags:
- name: PTAB Trials
  description: PTAB Trials.
paths:
  /ptab-trials/{ptab_trial_id}:
    get:
      tags:
      - PTAB Trials
      summary: Get Ptab Trial
      description: 'Gets data for a single PTAB trial.


        - **ptab_trial_id**: the Lex Machina PTAB Trial id'
      operationId: get_ptab_trial
      security:
      - JwtAccessBearer: []
      parameters:
      - name: ptab_trial_id
        in: path
        required: true
        schema:
          type: integer
          title: Ptab Trial Id
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PTABTrialData'
              examples:
                single ptab trial:
                  summary: single ptab trial
                  value:
                    ptabTrialId: 12769
                    ptabTrialNumber: IPR2021-00545
                    status: Terminated
                    dates:
                      filed: '2021-02-26'
                      terminated: '2022-09-06'
                      institutionDecision: '2021-09-08'
                      finalDecision: '2022-09-06'
                    usptoPatentTechnologyCenter:
                      number: 3700
                      name: Mechanical Engineering, Manufacturing, Products
                    administrativePatentJudges:
                    - name: Terrence W. McMillin
                      administrativePatentJudgeId: 362
                      details:
                      - stage: Final Decision
                        role: Non-Presiding
                      - stage: Institution Decision
                        role: Non-Presiding
                    - name: Jason W. Melvin
                      administrativePatentJudgeId: 370
                      details:
                      - stage: Final Decision
                        role: Presiding
                      - stage: Institution Decision
                        role: Presiding
                    - name: Barry L. Grossman
                      administrativePatentJudgeId: 196
                      details:
                      - stage: Final Decision
                        role: Non-Presiding
                      - stage: Institution Decision
                        role: Non-Presiding
                    lawFirms:
                    - name: Fish & Richardson
                      lawFirmId: 906
                      clientPartyIds:
                      - 1501
                    - name: Finnegan, Henderson, Farabow, Garrett & Dunner
                      lawFirmId: 528
                      clientPartyIds:
                      - 2079879
                      - 3211274
                      - 45689903
                      - 59175093
                      - 479096
                      - 479097
                    attorneys:
                    - name: Kai Rajan
                      attorneyId: 45403013
                      lawFirmIds:
                      - 528
                      clientsPartyIds:
                      - 59175093
                      - 2079879
                      - 479096
                      - 479097
                      - 3211274
                      - 45689903
                    - name: Daniel C. Tucker
                      attorneyId: 80245438
                      lawFirmIds:
                      - 528
                      clientsPartyIds:
                      - 59175093
                      - 2079879
                      - 479096
                      - 479097
                      - 3211274
                      - 45689903
                    - name: Benjamin Aaron Saidman
                      attorneyId: 107793127
                      lawFirmIds:
                      - 528
                      clientsPartyIds:
                      - 59175093
                      - 2079879
                      - 479096
                      - 479097
                      - 3211274
                      - 45689903
                    - name: Michael Vincent Young Sr.
                      attorneyId: 1421783
                      lawFirmIds:
                      - 528
                      clientsPartyIds:
                      - 59175093
                      - 2079879
                      - 479096
                      - 479097
                      - 3211274
                      - 45689903
                    - name: Erika Harmon Arner
                      attorneyId: 1355622
                      lawFirmIds:
                      - 528
                      clientsPartyIds:
                      - 59175093
                      - 2079879
                      - 479096
                      - 479097
                      - 3211274
                      - 45689903
                    - name: Roberto J. Devoto
                      attorneyId: 145530298
                      lawFirmIds:
                      - 906
                      clientsPartyIds:
                      - 1501
                    - name: Hyun Jin In
                      attorneyId: 42758383
                      lawFirmIds:
                      - 906
                      clientsPartyIds:
                      - 1501
                    - name: Jeremy J. Monaldo
                      attorneyId: 3813930
                      lawFirmIds:
                      - 906
                      clientsPartyIds:
                      - 1501
                    - name: Walter Karl Renner
                      attorneyId: 962854
                      lawFirmIds:
                      - 906
                      clientsPartyIds:
                      - 1501
                    parties:
                    - name: iRobot Corporation
                      partyId: 59175096
                      role: Patent Owner
                    - name: SharkNinja Sales Company
                      partyId: 59175095
                      role: Petitioner
                    - name: EP Midco LLC
                      partyId: 59175099
                      role: Petitioner
                    - name: SharkNinja Hong Kong Co. Ltd.
                      partyId: 59175093
                      role: Petitioner
                    - name: SharkNinja Management Company
                      partyId: 59175094
                      role: Petitioner
                    - name: SharkNinja Operating LLC
                      partyId: 59175098
                      role: Petitioner
                    - name: SharkNinja Management LLC
                      partyId: 59175097
                      role: Petitioner
                    trialType: IPR
                    trialTags:
                    - Appealed
                    trialResolution: 'Final Decision: Mixed Claim Findings'
                    patent:
                      number: '7571511'
                      title: Autonomous floor-cleaning robot
                      applicationNumber: '10818073'
                    claimFindings:
                    - numbers:
                      - 1
                      - 8
                      - 9
                      - 10
                      - 11
                      - 12
                      - 14
                      - 16
                      - 17
                      - 18
                      - 19
                      - 22
                      - 23
                      petition: Petitioned
                      institutionDecision: Instituted
                      finalWrittenDecision: Unpatentable
                    - numbers:
                      - 24
                      - 25
                      - 32
                      - 33
                      - 34
                      - 36
                      - 37
                      - 55
                      - 56
                      - 62
                      petition: Petitioned
                      institutionDecision: Instituted
                      finalWrittenDecision: Upheld
                    petitionStageGrounds:
                      statutes:
                      - '103'
                      priorArt:
                      - priorArtType: Foreign Patent / Application
                        priorArtReferences:
                        - Toyoda
                        - Ye
                      - priorArtType: Other Publication
                        priorArtReferences:
                        - Jones
                      - priorArtType: US Patent
                        priorArtReferences:
                        - Horst
                        - Bisset
                    institutionDecisionGrounds:
                    - decision: Instituted
                      statute: '103'
                      claims:
                      - 16
                      - 17
                      priorArt:
                      - priorArtType: Foreign Patent / Application
                        priorArtReferences:
                        - Toyoda
                      - priorArtType: US Patent
                        priorArtReferences:
                        - Horst
                        - Bisset
                    - decision: Instituted
                      statute: '103'
                      claims:
                      - 1
                      - 8
                      - 9
                      - 10
                      - 11
                      - 12
                      - 16
                      - 18
                      - 19
                      - 22
                      - 23
                      - 24
                      - 25
                      - 32
                      - 33
                      - 34
                      - 37
                      - 55
                      - 56
                      - 62
                      priorArt:
                      - priorArtType: Foreign Patent / Application
                        priorArtReferences:
                        - Toyoda
                      - priorArtType: US Patent
                        priorArtReferences:
                        - Bisset
                    - decision: Instituted
                      statute: '103'
                      claims:
                      - 36
                      - 14
                      priorArt:
                      - priorArtType: Foreign Patent / Application
                        priorArtReferences:
                        - Ye
                      - priorArtType: Other Publication
                        priorArtReferences:
                        - Jones
                      - priorArtType: US Patent
                        priorArtReferences:
                        - Bisset
                    - decision: Instituted
                      statute: '103'
                      claims:
                      - 1
                      - 8
                      - 9
                      - 10
                      - 11
                      - 12
                      - 16
                      - 18
                      - 19
                      - 22
                      - 23
                      - 24
                      - 25
                      - 32
                      - 33
                      - 34
                      - 37
                      - 55
                      - 56
                      - 62
                      priorArt:
                      - priorArtType: Foreign Patent / Application
                        priorArtReferences:
                        - Ye
                      - priorArtType: US Patent
                        priorArtReferences:
                        - Bisset
                    - decision: Instituted
                      statute: '103'
                      claims:
                      - 16
                      - 17
                      priorArt:
                      - priorArtType: Foreign Patent / Application
                        priorArtReferences:
                        - Ye
                      - priorArtType: US Patent
                        priorArtReferences:
                        - Horst
                        - Bisset
                    - decision: Instituted
                      statute: '103'
                      claims:
                      - 36
                      - 14
                      priorArt:
                      - priorArtType: Foreign Patent / Application
                        priorArtReferences:
                        - Toyoda
                      - priorArtType: Other Publication
                        priorArtReferences:
                        - Jones
                      - priorArtType: US Patent
                        priorArtReferences:
                        - Bisset
                    finalDecisionGrounds:
                    - decision: Unpatentable
                      statute: '103'
                      claims:
                      - 1
                      - 8
                      - 9
                      - 10
                      - 11
                      - 12
                      - 16
                      - 18
                      - 19
                      - 22
                      - 23
                      priorArt:
                      - priorArtType: Foreign Patent / Application
                        priorArtReferences:
                        - Toyoda
                      - priorArtType: US Patent
                        priorArtReferences:
                        - Bisset
                    - decision: Upheld
                      statute: '103'
                      claims:
                      - 36
                      priorArt:
                      - priorArtType: Foreign Patent / Application
                        priorArtReferences:
                        - Toyoda
                      - priorArtType: Other Publication
                        priorArtReferences:
                        - Jones
                      - priorArtType: US Patent
                        priorArtReferences:
                        - Bisset
                    - decision: Unpatentable
                      statute: '103'
                      claims:
                      - 14
                      priorArt:
                      - priorArtType: Foreign Patent / Application
                        priorArtReferences:
                        - Toyoda
                      - priorArtType: Other Publication
                        priorArtReferences:
                        - Jones
                      - priorArtType: US Patent
                        priorArtReferences:
                        - Bisset
                    - decision: Upheld
                      statute: '103'
                      claims:
                      - 32
                      - 33
                      - 34
                      - 37
                      - 55
                      - 24
                      - 25
                      - 56
                      - 62
                      priorArt:
                      - priorArtType: Foreign Patent / Application
                        priorArtReferences:
                        - Toyoda
                      - priorArtType: US Patent
                        priorArtReferences:
                        - Bisset
                    - decision: Unpatentable
                      statute: '103'
                      claims:
                      - 16
                      - 17
                      priorArt:
                      - priorArtType: Foreign Patent / Application
                        priorArtReferences:
                        - Toyoda
                      - priorArtType: US Patent
                        priorArtReferences:
                        - Horst
                        - Bisset
                    - decision: Upheld
                      statute: '103'
                      claims:
                      - 1
                      - 8
                      - 9
                      - 10
                      - 11
                      - 12
                      - 16
                      - 18
                      - 19
                      - 22
                      - 23
                      - 24
                      - 25
                      - 32
                      - 33
                      - 34
                      - 37
                      - 55
                      - 56
                      - 62
                      priorArt:
                      - priorArtType: Foreign Patent / Application
                        priorArtReferences:
                        - Ye
                      - priorArtType: US Patent
                        priorArtReferences:
                        - Bisset
                    - decision: Upheld
                      statute: '103'
                      claims:
                      - 16
                      - 17
                      priorArt:
                      - priorArtType: Foreign Patent / Application
                        priorArtReferences:
                        - Ye
                      - priorArtType: US Patent
                        priorArtReferences:
                        - Horst
                        - Bisset
                    - decision: Upheld
                      statute: '103'
                      claims:
                      - 36
                      - 14
                      priorArt:
                      - priorArtType: Foreign Patent / Application
                        priorArtReferences:
                        - Ye
                      - priorArtType: Other Publication
                        priorArtReferences:
                        - Jones
                      - priorArtType: US Patent
                        priorArtReferences:
                        - Bisset
        '401':
          description: Invalid or expired token
          content:
            application/json:
              examples:
                Expired token:
                  summary: Expired token
                  value:
                    detail: 'Token time expired: Signature has expired.'
                Invalid token:
                  summary: Invalid token
                  value:
                    detail: Invalid token
        '404':
          description: Not found
          content:
            application/json:
              examples:
                Not found:
                  summary: Not found
                  value:
                    summary: Unknown id
                    detail: Not Found
        '422':
          description: Error - 422
          content:
            application/json:
              examples:
                Validation error:
                  summary: Validation error
                  value:
                    summary: Invalid input
                    detail:
                    - type: parsing
                      loc:
                      - path
                      - query
                      - body
                      msg: invalid input
                      input: '-1'
  /ptab-trials/{ptab_trial_number}:
    get:
      tags:
      - PTAB Trials
      summary: Get Ptab Trial By Number
      description: "Gets data for a single PTAB trial via the trial number.\n\n- **ptab_trial_number**: a PTAB Trial number in the format TTTYYYY-NNNNN where\n\n    TTT is one of IPR, CBM, or PGR\n\n    YYYY is a four digit year\n\n    NNNNN is a five digit trial number (including leading zeros)\n\n    Examples: IPR2013-00273, CBM2015-00182, PGR2025-00084"
      operationId: get_ptab_trial_by_number
      security:
      - JwtAccessBearer: []
      parameters:
      - name: ptab_trial_number
        in: path
        required: true
        schema:
          type: string
          title: Ptab Trial Number
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PTABTrialData'
              examples:
                single ptab trial_by_trial_number:
                  summary: single ptab trial_by_trial_number
                  value:
                    ptabTrialId: 3887
                    ptabTrialNumber: CBM2015-00182
                    status: Terminated
                    dates:
                      filed: '2015-09-11'
                      terminated: '2017-02-28'
                      institutionDecision: '2016-03-03'
                      finalDecision: '2017-02-28'
                    usptoPatentTechnologyCenter:
                      number: 3600
                      name: Transportation, Construction, Electronic Commerce, Agriculture, National Security and License & Review
                    administrativePatentJudges:
                    - name: Sally C. Medley
                      administrativePatentJudgeId: 222
                      details:
                      - stage: Final Decision
                        role: Non-Presiding
                      - stage: Institution Decision
                        role: Non-Presiding
                    - name: Jeremy M. Plenzler
                      administrativePatentJudgeId: 242
                      details:
                      - stage: Final Decision
                        role: Presiding
                      - stage: Institution Decision
                        role: Presiding
                    - name: Meredith C. Petravick
                      administrativePatentJudgeId: 181
                      details:
                      - stage: Final Decision
                        role: Non-Presiding
                      - stage: Institution Decision
                        role: Non-Presiding
                    lawFirms:
                    - name: Sterne, Kessler, Goldstein & Fox
                      lawFirmId: 227813753
                      clientPartyIds:
                      - 274627299
                      - 65047
                      - 492521
                      - 492522
                      - 65046
                      - 244150
                    - name: Fish & Richardson
                      lawFirmId: 906
                      clientPartyIds:
                      - 274627299
                      - 65047
                      - 492521
                      - 492522
                      - 65046
                      - 244150
                    - name: McDonnell Boehnen Hulbert & Berghoff
                      lawFirmId: 46836
                      clientPartyIds:
                      - 70288
                    - name: Finnegan, Henderson, Farabow, Garrett & Dunner
                      lawFirmId: 528
                      clientPartyIds:
                      - 70288
                    - name: Trading Technologies International
                      lawFirmId: 46839
                      clientPartyIds:
                      - 70288
                    attorneys:
                    - name: Richard M. Bemben
                      attorneyId: 44310261
                      lawFirmIds:
                      - 227813753
                      clientsPartyIds:
                      - 274627299
                      - 65046
                      - 65047
                      - 244150
                      - 492521
                      - 492522
                    - name: John C. Phillips
                      attorneyId: 107715852
                      lawFirmIds:
                      - 906
                      clientsPartyIds:
                      - 274627299
                      - 65046
                      - 65047
                      - 244150
                      - 492521
                      - 492522
                    - name: Leif R. Sigmond Jr.
                      attorneyId: 46832
                      lawFirmIds:
                      - 46836
                      clientsPartyIds:
                      - 70288
                    - name: Lori Ann Gordon
                      attorneyId: 575044
                      lawFirmIds:
                      - 227813753
                      clientsPartyIds:
                      - 274627299
                      - 65046
                      - 65047
                      - 244150
                      - 492521
                      - 492522
                    - name: Rachel Lauren Emsley
                      attorneyId: 1519420
                      lawFirmIds:
                      - 528
                      clientsPartyIds:
                      - 70288
                    - name: Steven F. Borsand
                      attorneyId: 46839
                      lawFirmIds:
                      - 46839
                      clientsPartyIds:
                      - 70288
                    - name: Robert Evan Sokohl
                      attorneyId: 107756427
                      lawFirmIds:
                      - 227813753
                      clientsPartyIds:
                      - 274627299
                      - 65046
                      - 65047
                      - 244150
                      - 492521
                      - 492522
                    - name: Jay Quentin Knobloch
                      attorneyId: 71272425
                      lawFirmIds:
                      - 46839
                      clientsPartyIds:
                      - 70288
                    - name: Joshua Lawrence Goldberg
                      attorneyId: 885924
                      lawFirmIds:
                      - 528
                      clientsPartyIds:
                      - 70288
                    - name: Kevin Dale Rodkey
                      attorneyId: 23264
                      lawFirmIds:
                      - 528
                      clientsPartyIds:
                      - 70288
                    - name: Jennifer Marie Kurcz
                      attorneyId: 283262150
                      lawFirmIds:
                      - 46836
                      clientsPartyIds:
                      - 70288
                    - name: Cory Clifford Bell
                      attorneyId: 87532029
                      lawFirmIds:
                      - 528
                      clientsPartyIds:
                      - 70288
                    - name: Erika Harmon Arner
                      attorneyId: 1355622
                      lawFirmIds:
                      - 528
                      clientsPartyIds:
                      - 70288
                    - name: Michael David Gannon
                      attorneyId: 46834
                      lawFirmIds:
                      - 46836
                      clientsPartyIds:
                      - 70288
                    parties:
                    - name: TradeStation Group, Inc.
                      partyId: 31357911
                      role: Petitioner
                    - name: Interactive Brokers LLC
                      partyId: 31357913
                      role: Petitioner
                    - name: TradeStation Securities, Inc.
                      partyId: 31357912
                      role: Petitioner
                    - name: TradeStation Technologies, Inc.
                      partyId: 31357915
                      role: Petitioner
                    - name: IBFX, Inc.
                      partyId: 31357914
                      role: Petitioner
                    - name: IBG LLC
                      partyId: 33522008
                      role: Petitioner
                    - name: Trading Technologies International, Inc.
                      partyId: 20016861
                      role: Patent Owner
                    trialType: CBM
                    trialTags:
                    - Appealed
                    trialResolution: 'Final Decision: All Claims Unpatentable'
                    patent:
                      number: '6772132'
                      title: Click based trading with intuitive grid display of market depth
                      applicationNumber: 09590692
                    claimFindings:
                    - numbers:
                      - 1
                      - 2
                      - 3
                      - 4
                      - 5
                      - 6
                      - 7
                      - 8
                      - 9
                      - 10
                      - 11
                      - 12
                      - 13
                      - 14
                      - 15
                      - 16
                      - 17
                      - 18
                      - 19
                      - 20
                      - 21
                      - 22
                      - 23
                      - 24
                      - 25
                      - 26
                      - 27
                      - 28
                      - 29
                      - 30
                      - 31
                      - 32
                      - 33
                      - 34
                      - 35
                      - 36
                      - 37
                      - 38
                      - 39
                      - 40
                      - 41
                      - 42
                      - 43
                      - 44
                      - 45
                      - 46
                      - 47
                      - 48
                      - 49
                      - 50
                      - 51
                      - 52
                      - 53
                      - 54
                      - 55
                      - 56
                      petition: Petitioned
                      institutionDecision: Instituted
                      finalWrittenDecision: Unpatentable
                    petitionStageGrounds:
                      statutes:
                      - '103'
                      - '101'
                      priorArt:
                      - priorArtType: Foreign Patent / Application
                        priorArtReferences:
                        - May
                        - Belden
                      - priorArtType: Other Publication
                        priorArtReferences:
                        - TSE
                      - priorArtType: US Patent
                        priorArtReferences:
                        - Silverman
                        - Gutterman
                        - Paal
                    institutionDecisionGrounds:
                    - decision: Instituted
                      statute: '103'
                      claims:
                      - 5
                      - 6
                      - 39
                      - 12
                      - 13
                      - 49
                      - 18
                      - 19
                      - 29
                      priorArt:
                      - priorArtType: Foreign Patent / Application
                        priorArtReferences:
                        - Belden
                      - priorArtType: Other Publication
                        priorArtReferences:
                        - TSE
                      - priorArtType: US Patent
                        priorArtReferences:
                        - Gutterman
                    - decision: Instituted
                      statute: '103'
                      claims:
                      - 17
                      - 11
                      - 4
                      priorArt:
                      - priorArtType: Foreign Patent / Application
                        priorArtReferences:
                        - May
                        - Belden
                      - priorArtType: Other Publication
                        priorArtReferences:
                        - TSE
                    - decision: Instituted
                      statute: '101'
                      claims:
                      - 1
                      - 2
                      - 3
                      - 4
                      - 5
                      - 6
                      - 7
                      - 8
                      - 9
                      - 10
                      - 11
                      - 12
                      - 13
                      - 14
                      - 15
                      - 16
                      - 17
                      - 18
                      - 19
                      - 20
                      - 21
                      - 22
                      - 23
                      - 24
                      - 25
                      - 26
                      - 27
                      - 28
                      - 29
                      - 30
                      - 31
                      - 32
                      - 33
                      - 34
                      - 35
                      - 36
                      - 37
                      - 38
                      - 39
                      - 40
                      - 41
                      - 42
                      - 43
                      - 44
                      - 45
                      - 46
                      - 47
                      - 48
                      - 49
                      - 50
                      - 51
                      - 52
                      - 53
                      - 54
                      - 55
                      - 56
                      priorArt: []
                    - decision: Denied Institution
                      statute: '103'
                      claims:
                      - 17
                      - 11
                      - 4
                      priorArt:
                      - priorArtType: Foreign Patent / Application
                        priorArtReferences:
                        - May
                        - Belden
                      - priorArtType: US Patent
                        priorArtReferences:
                        - Silverman
                        - Gutterman
                    - decision: Denied Institution
                      statute: '103'
                      claims:
                      - 34
                      - 44
                      - 23
                      priorArt:
                      - priorArtType: Foreign Patent / Application
                        priorArtReferences:
                        - Belden
                      - priorArtType: US Patent
                        priorArtReferences:
                        - Silverman
                        - Gutterman
                        - Paal
                    - decision: Denied Institution
                      statute: '103'
                      claims:
                      - 1
                      - 2
                      - 3
                      - 5
                      - 6
                      - 7
                      - 8
                      - 9
                      - 10
                      - 13
                      - 14
                      - 15
                      - 16
                      - 18
                      - 19
                      - 20
                      - 21
                      - 22
                      - 23
                      - 25
                      - 26
                      - 27
                      - 28
                      - 29
                      - 30
                      - 31
                      - 32
                      - 33
                      - 35
                      - 36
                      - 37
                      - 38
                      - 39
                      - 40
                      - 41
                      - 42
                      - 43
                      - 45
                      - 46
                      - 47
                      - 48
                      - 49
                      - 50
                      - 51
                      - 52
                      - 53
                      - 54
                      - 55
                      - 56
                      priorArt:
                      - priorArtType: Foreign Patent / Application
                        priorArtReferences:
                        - Belden
                      - priorArtType: US Patent
                        priorArtReferences:
                        - Silverman
                        - Gutterman
                    - decision: Instituted
                      statute: '103'
                      claims:
                      - 1
                      - 2
                      - 3
                      - 7
                      - 8
                      - 9
                      - 10
                      - 14
                      - 15
                      - 16
                      - 20
                      - 21
                      - 22
                      - 23
                      - 24
                      - 25
                      - 26
                      - 27
                      - 28
                      - 30
                      - 31
                      - 32
                      - 33
                      - 34
                      - 35
                      - 36
                      - 37
                      - 38
                      - 40
                      - 41
                      - 42
                      - 43
                      - 44
                      - 45
                      - 46
                      - 47
                      - 48
                      - 50
                      - 51
                      - 52
                      - 53
                      - 54
                      - 55
                      - 56
                      priorArt:
                      - priorArtType: Foreign Patent / Application
                        priorArtReferences:
                        - Belden
                      - priorArtType: Other Publication
                        priorArtReferences:
                        - TSE
                    finalDecisionGrounds:
                    - decision: Unpatentable
                      statute: '103'
                      claims:
                      - 1
                      - 2
                      - 3
                      - 7
                      - 8
                      - 9
                      - 10
                      - 14
                      - 15
                      - 16
                      - 20
                      - 21
                      - 22
                      - 23
                      - 24
                      - 25
                      - 26
                      - 27
                      - 28
                      - 30
                      - 31
                      - 32
                      - 33
                      - 34
                      - 35
                      - 36
                      - 37
                      - 38
                      - 40
                      - 41
                      - 42
                      - 43
                      - 44
                      - 45
                      - 46
                      - 47
                      - 48
                      - 50
                      - 51
                      - 52
                      - 53
                      - 54
                      - 55
                      - 56
                      priorArt:
                      - priorArtType: Foreign Patent / Application
                        priorArtReferences:
                        - Belden
                      - priorArtType: Other Publication
                        priorArtReferences:
                        - TSE
                    - decision: Unpatentable
                      statute: '103'
                      claims:
                      - 17
                      - 11
                      - 4
                      priorArt:
                      - priorArtType: Foreign Patent / Application
                        priorArtReferences:
                        - May
                        - Belden
                      - priorArtType: Other Publication
                        priorArtReferences:
                        - TSE
                    - decision: Unpatentable
                      statute: '101'
                      claims:
                      - 1
                      - 2
                      - 3
                      - 4
                      - 5
                      - 6
                      - 7
                      - 8
                      - 9
                      - 10
                      - 11
                      - 12
                      - 13
                      - 14
                      - 15
                      - 16
                      - 17
                      - 18
                      - 19
                      - 20
                      - 21
                      - 22
                      - 23
                      - 24
                      - 25
                      - 26
                      - 27
                      - 28
                      - 29
                      - 30
                      - 31
                      - 32
                      - 33
                      - 34
                      - 35
                      - 36
                      - 37
                      - 38
                      - 39
                      - 40
                      - 41
                      - 42
                      - 43
                      - 44
                      - 45
                      - 46
                      - 47
                      - 48
                      - 49
                      - 50
                      - 51
                      - 52
                      - 53
                      - 54
                      - 55
                      - 56
                      priorArt: []
                    - decision: Unpatentable
                      statute: '103'
                      claims:
                      - 5
                      - 6
                      - 39
                      - 12
                      - 13
                      - 49
                      - 18
                      - 19
                      - 29
                      priorArt:
                      - priorArtType: Foreign Patent / Application
                        priorArtReferences:
                        - Belden
                      - priorArtType: Other Publication
                        priorArtReferences:
                        - TSE
                      - priorArtType: US Patent
                        priorArtReferences:
                        - Gutterman
        '401':
          description: Invalid or expired token
          content:
            application/json:
              examples:
                Expired token:
                  summary: Expired token
                  value:
                    detail: 'Token time expired: Signature has expired.'
                Invalid token:
                  summary: Invalid token
                  value:
                    detail: Invalid token
        '404':
          description: Not found
          content:
            application/json:
              examples:
                Not found:
                  summary: Not found
                  value:
                    summary: Unknown id
                    detail: Not Found
        '422':
          description: Error - 422
          content:
            application/json:
              examples:
                Validation error:
                  summary: Validation error
                  value:
                    summary: Invalid input
                    detail:
                    - type: parsing
                      loc:
                      - path
                      - query
                      - body
                      msg: invalid input
                      input: '-1'
components:
  schemas:
    PTABPatent:
      properties:
        number:
          type: string
          title: Number
        title:
          anyOf:
          - type: string
          - type: 'null'
          title: Title
        applicationNumber:
          type: string
          title: Applicationnumber
      additionalProperties: false
      type: object
      required:
      - number
      - applicationNumber
      title: PTABPatent
    PTABTrialData:
      properties:
        ptabTrialId:
          type: integer
          title: Ptabtrialid
        ptabTrialNumber:
          type: string
          title: Ptabtrialnumber
        status:
          $ref: '#/components/schemas/CaseStatus'
        dates:
          $ref: '#/components/schemas/PTABTrialDates'
        usptoPatentTechnologyCenter:
          $ref: '#/components/schemas/USPTOPatentTechnologyCenter'
        administrativePatentJudges:
          items:
            $ref: '#/components/schemas/AdministrativePatentJudge'
          type: array
          title: Administrativepatentjudges
        lawFirms:
          items:
            $ref: '#/components/schemas/LawFirm'
          type: array
          title: Lawfirms
        attorneys:
          items:
            $ref: '#/components/schemas/Attorney'
          type: array
          title: Attorneys
        parties:
          items:
            $ref: '#/components/schemas/Party'
          type: array
          title: Parties
        trialType:
          type: string
          title: Trialtype
        trialTags:
          items:
            type: string
          type: array
          title: Trialtags
        trialResolution:
          anyOf:
          - type: string
          - type: 'null'
          title: Trialresolution
        patent:
          $ref: '#/components/schemas/PTABPatent'
        claimFindings:
          anyOf:
          - items:
              $ref: '#/components/schemas/PTABClaimFindings'
            type: array
          - type: 'null'
          title: Claimfindings
        petitionStageGrounds:
          anyOf:
          - $ref: '#/components/schemas/PTABPetitionStageGround'
          - type: 'null'
        institutionDecisionGrounds:
          anyOf:
          - items:
              $ref: '#/components/schemas/PTABDecisionGround'
            type: array
          - type: 'null'
          title: Institutiondecisiongrounds
        finalDecisionGrounds:
          anyOf:
          - items:
              $ref: '#/components/schemas/PTABDecisionGround'
            type: array
          - type: 'null'
          title: Finaldecisiongrounds
      additionalProperties: false
      type: object
      required:
      - ptabTrialId
      - ptabTrialNumber
      - status
      - dates
      - usptoPatentTechnologyCenter
      - administrativePatentJudges
      - lawFirms
      - attorneys
      - parties
      - trialType
      - trialTags
      - trialResolution
      - patent
      - claimFindings
      - petitionStageGrounds
      - institutionDecisionGrounds
      - finalDecisionGrounds
      title: PTABTrialData
      description: A single PTAB trial and relevant metadata.
    PriorArt:
      properties:
        priorArtType:
          type: string
          title: Priorarttype
        priorArtReferences:
          items:
            type: string
          type: array
          title: Priorartreferences
      additionalProperties: false
      type: object
      required:
      - priorArtType
      - priorArtReferences
      title: PriorArt
    PTABTrialDates:
      properties:
        filed:
          type: string
          format: date
          title: Filed
        terminated:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          title: Terminated
        institutionDecision:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          title: Institutiondecision
        finalDecision:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          title: Finaldecision
      additionalProperties: false
      type: object
      required:
      - filed
      - institutionDecision
      - finalDecision
      title: PTABTrialDates
    Attorney:
      properties:
        name:
          type: string
          title: Name
        attorneyId:
          type: integer
          title: Attorneyid
        lawFirmIds:
          items:
            type: integer
          type: array
          uniqueItems: true
          title: Lawfirmids
        clientsPartyIds:
          items:
            type: integer
          type: array
          uniqueItems: true
          title: Clientspartyids
      additionalProperties: false
      type: object
      required:
      - name
      - attorneyId
      - lawFirmIds
      - clientsPartyIds
      title: Attorney
    CaseStatus:
      type: string
      enum:
      - Open
      - Terminated
      title: CaseStatus
    PTABClaimFindings:
      properties:
        numbers:
          items:
            type: integer
          type: array
          title: Numbers
        petition:
          anyOf:
          - type: string
          - type: 'null'
          title: Petition
        institutionDecision:
          anyOf:
          - type: string
          - type: 'null'
          title: Institutiondecision
        finalWrittenDecision:
          anyOf:
          - type: string
          - type: 'null'
          title: Finalwrittendecision
      additionalProperties: false
      type: object
      required:
      - numbers
      - petition
      - institutionDecision
      - finalWrittenDecision
      title: PTABClaimFindings
    Party:
      properties:
        name:
          type: string
          title: Name
        partyId:
          type: integer
          title: Partyid
        role:
          type: string
          title: Role
      additionalProperties: false
      type: object
      required:
      - name
      - partyId
      - role
      title: Party
    AdministrativePatentJudge:
      properties:
        name:
          type: string
          title: Name
        administrativePatentJudgeId:
          type: integer
          title: Administrativepatentjudgeid
        details:
          items:
            $ref: '#/components/schemas/AdministrativePatentJudgeDetail'
          type: array
          title: Details
      additionalProperties: false
      type: object
      required:
      - name
      - administrativePatentJudgeId
      - details
      title: AdministrativePatentJudge
    PTABPetitionStageGround:
      properties:
        statutes:
          items:
            type: string
          type: array
          title: Statutes
        priorArt:
          items:
            $ref: '#/components/schemas/PriorArt'
          type: array
          title: Priorart
      additionalProperties: false
      type: object
      required:
      - statutes
      - priorArt
      title: PTABPetitionStageGround
    PTABDecisionGround:
      properties:
        decision:
          type: string
          title: Decision
        statute:
          type: string
          title: Statute
        claims:
          items:
            type: integer
          type: array
          title: Claims
        priorArt:
          items:
            $ref: '#/components/schemas/PriorArt'
          type: array
          title: Priorart
      additionalProperties: false
      type: object
      required:
      - decision
      - statute
      - claims
      - priorArt
      title: PTABDecisionGround
    LawFirm:
      properties:
        name:
          type: string
          title: Name
        lawFirmId:
          type: integer
          title: Lawfirmid
        clientPartyIds:
          items:
            type: integer
          type: array
          uniqueItems: true
          title: Clientpartyids
      additionalProperties: false
      type: object
      required:
      - name
      - lawFirmId
      - clientPartyIds
      title: LawFirm
    USPTOPatentTechnologyCenter:
      properties:
        number:
          type: integer
          title: Number
        name:
          anyOf:
          - type: string
          - type: 'null'
          title: Name
      additionalProperties: false
      type: object
      required:
      - number
      - name
      title: USPTOPatentTechnologyCenter
    AdministrativePatentJudgeDetail:
      properties:
        stage:
          type: string
          title: Stage
        role:
          type: string
          title: Role
      additionalProperties: false
      type: object
      required:
      - stage
      - role
      title: AdministrativePatentJudgeDetail
  securitySchemes:
    JwtAccessBearer:
      type: http
      scheme: bearer
