openapi: 3.1.0
info:
  title: Lex Machina Alerts Federal District Cases API
  version: '20260324'
  description: Alerts.
servers:
- url: https://api.lexmachina.com
  description: Lex Machina production API
tags:
- name: Federal District Cases
  description: Federal district court cases.
paths:
  /analyze-district-cases/from-query:
    post:
      tags:
      - Federal District Cases
      summary: Analyze District Cases From Query
      operationId: analyze_district_cases_from_query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DistrictCaseAnalyticFromQuery'
            examples:
              District Case Law Firm Count by Role from Query:
                summary: District Case Law Firm Count by Role from Query
                description: district case counts of lawfirms by role for contracts cases in njd filed in 2019 and terminated in 2021
                value: '{"analyticType": "LawFirmCountByRole", "districtCaseQuery": {"courts": {"include": ["njd"]}, "caseTypes": {"include": ["Contracts"]}, "dates": {"filed": {"onOrAfter": "2019-01-01", "onOrBefore": "2019-12-31"}, "terminated": {"onOrAfter": "2021-01-01", "onOrBefore": "2021-12-31"}}}}'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaseAnalyticResult'
              examples:
                District Case Law Firm Count by Role from Query:
                  summary: District Case Law Firm Count by Role from Query
                  value:
                    totalCases: 63
                    aggregation:
                      data:
                      - lawFirmId: 3571
                        lawFirmName: State of New Jersey
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 1
                        - role: Defendant
                          count: 12
                        - role: Third Party
                          count: 0
                      - lawFirmId: 4743
                        lawFirmName: Greenbaum, Rowe, Smith & Davis
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 13
                        - role: Third Party
                          count: 0
                      - lawFirmId: 79274506
                        lawFirmName: John Zidziunas & Associates
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 12
                        - role: Third Party
                          count: 0
                      - lawFirmId: 74149061
                        lawFirmName: Riker Danzig
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 1
                        - role: Defendant
                          count: 11
                        - role: Third Party
                          count: 0
                      - lawFirmId: 73892766
                        lawFirmName: Nukk-Freeman
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 11
                        - role: Third Party
                          count: 0
                      - lawFirmId: 69826
                        lawFirmName: Clark Hill
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 10
                        - role: Third Party
                          count: 0
                      - lawFirmId: 2764992
                        lawFirmName: Price, Meese, Shulman & D'Arminio
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 3
                        - role: Defendant
                          count: 4
                        - role: Third Party
                          count: 0
                      - lawFirmId: 948987
                        lawFirmName: Connell Foley
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 6
                        - role: Defendant
                          count: 1
                        - role: Third Party
                          count: 0
                      - lawFirmId: 160737897
                        lawFirmName: Campbell Rocco Law
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 6
                        - role: Third Party
                          count: 0
                      - lawFirmId: 73924463
                        lawFirmName: Sills Cummis & Gross
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 6
                        - role: Third Party
                          count: 0
                      - lawFirmId: 28526743
                        lawFirmName: Schenck Price Smith & King
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 5
                        - role: Defendant
                          count: 0
                        - role: Third Party
                          count: 1
                      - lawFirmId: 95470716
                        lawFirmName: Randy Scott Zelin
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 6
                        - role: Third Party
                          count: 0
                      - lawFirmId: 79063
                        lawFirmName: Herzfeld & Rubin
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 5
                        - role: Third Party
                          count: 0
                      - lawFirmId: 485015
                        lawFirmName: Post & Schell
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 5
                        - role: Third Party
                          count: 0
                      - lawFirmId: 433
                        lawFirmName: Reed Smith
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 5
                        - role: Third Party
                          count: 0
                      - lawFirmId: 24440
                        lawFirmName: Ballard Spahr
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 3
                        - role: Defendant
                          count: 1
                        - role: Third Party
                          count: 0
                      - lawFirmId: 119127128
                        lawFirmName: Coughlin Midlige & Garland
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 4
                        - role: Defendant
                          count: 0
                        - role: Third Party
                          count: 0
                      - lawFirmId: 13647919
                        lawFirmName: Saiber
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 3
                        - role: Defendant
                          count: 1
                        - role: Third Party
                          count: 0
                      - lawFirmId: 16
                        lawFirmName: Greenberg Traurig
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 4
                        - role: Third Party
                          count: 0
                      - lawFirmId: 226013496
                        lawFirmName: Fox Rothschild
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 1
                        - role: Defendant
                          count: 3
                        - role: Third Party
                          count: 0
                      - lawFirmId: 78110100
                        lawFirmName: Trinity & Farsiou
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 3
                        - role: Third Party
                          count: 0
                      - lawFirmId: 2634106
                        lawFirmName: Houser & Allison
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 3
                        - role: Third Party
                          count: 0
                      - lawFirmId: 2944840
                        lawFirmName: Chiesa Shahinian & Giantomasi
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 2
                        - role: Third Party
                          count: 1
                      - lawFirmId: 1927
                        lawFirmName: Saul Ewing Arnstein & Lehr
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 3
                        - role: Third Party
                          count: 0
                      - lawFirmId: 76758445
                        lawFirmName: White and Williams
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 2
                        - role: Defendant
                          count: 1
                        - role: Third Party
                          count: 0
                      - lawFirmId: 9441075
                        lawFirmName: Braff, Harris, Sukoneck & Maloof
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 3
                        - role: Third Party
                          count: 0
                      - lawFirmId: 3625370
                        lawFirmName: Wolff & Samson
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 2
                        - role: Third Party
                          count: 1
                      - lawFirmId: 2544529
                        lawFirmName: Feder Kaszovitz
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 3
                        - role: Third Party
                          count: 0
                      - lawFirmId: 21177272
                        lawFirmName: Blank Rome
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 3
                        - role: Third Party
                          count: 0
                      - lawFirmId: 198107902
                        lawFirmName: Landman Corsi Ballaine & Ford
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 3
                        - role: Third Party
                          count: 0
                      - lawFirmId: 91790
                        lawFirmName: Lake & Cobb
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 3
                        - role: Third Party
                          count: 0
                      - lawFirmId: 110748325
                        lawFirmName: Finestein & Malloy
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 3
                        - role: Third Party
                          count: 0
                      - lawFirmId: 1359265
                        lawFirmName: John E. Osborn
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 3
                        - role: Third Party
                          count: 0
                      - lawFirmId: 32792
                        lawFirmName: Wilson Elser
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 2
                        - role: Third Party
                          count: 0
                      - lawFirmId: 191985184
                        lawFirmName: Law Offices of Joel C. Seltzer
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 2
                        - role: Third Party
                          count: 0
                      - lawFirmId: 53613883
                        lawFirmName: Fishkin Lucks
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 2
                        - role: Third Party
                          count: 0
                      - lawFirmId: 16080674
                        lawFirmName: Zukerman Gore Brandeis & Crossman
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 2
                        - role: Defendant
                          count: 0
                        - role: Third Party
                          count: 0
                      - lawFirmId: 87952
                        lawFirmName: FordHarrison
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 2
                        - role: Defendant
                          count: 0
                        - role: Third Party
                          count: 0
                      - lawFirmId: 54662
                        lawFirmName: Lewis Brisbois Bisgaard & Smith
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 0
                        - role: Third Party
                          count: 2
                      - lawFirmId: 86880158
                        lawFirmName: Anderson & Shah
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 2
                        - role: Defendant
                          count: 0
                        - role: Third Party
                          count: 0
                      - lawFirmId: 45565730
                        lawFirmName: Littleton Park Joyce Ughetta & Kelly
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 2
                        - role: Third Party
                          count: 0
                      - lawFirmId: 192889343
                        lawFirmName: Gennet, Kallmann, Antin, Sweetman & Nichols
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 2
                        - role: Third Party
                          count: 0
                      - lawFirmId: 10016960
                        lawFirmName: MARK S. KANCHER
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 1
                        - role: Defendant
                          count: 1
                        - role: Third Party
                          count: 0
                      - lawFirmId: 284166
                        lawFirmName: Marks & Klein
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 2
                        - role: Defendant
                          count: 0
                        - role: Third Party
                          count: 0
                      - lawFirmId: 3641580
                        lawFirmName: Gordon Rees Scully Mansukhani
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 2
                        - role: Third Party
                          count: 0
                      - lawFirmId: 482562
                        lawFirmName: McCarter & English
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 1
                        - role: Defendant
                          count: 1
                        - role: Third Party
                          count: 0
                      - lawFirmId: 8286817
                        lawFirmName: McElroy, Deutsch, Mulvaney & Carpenter
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 1
                        - role: Defendant
                          count: 1
                        - role: Third Party
                          count: 0
                      - lawFirmId: 74592432
                        lawFirmName: McNelly Law Group
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 2
                        - role: Third Party
                          count: 0
                      - lawFirmId: 871412
                        lawFirmName: Bressler, Amery & Ross
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 2
                        - role: Defendant
                          count: 0
                        - role: Third Party
                          count: 0
                      - lawFirmId: 211807676
                        lawFirmName: Brown & Connery
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 1
                        - role: Defendant
                          count: 1
                        - role: Third Party
                          count: 0
                      - lawFirmId: 159371016
                        lawFirmName: Hurvitz & Waldman
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 2
                        - role: Third Party
                          count: 0
                      - lawFirmId: 604
                        lawFirmName: Department of Justice
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 2
                        - role: Third Party
                          count: 0
                      - lawFirmId: 5000
                        lawFirmName: Dinsmore & Shohl
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 2
                        - role: Third Party
                          count: 0
                      - lawFirmId: 14953455
                        lawFirmName: KML Law Group
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 2
                        - role: Third Party
                          count: 0
                      - lawFirmId: 2840450
                        lawFirmName: Robins Kaplan
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 2
                        - role: Third Party
                          count: 0
                      - lawFirmId: 48787777
                        lawFirmName: Rosenblatt Law (rosenblattlegal.com)
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 2
                        - role: Third Party
                          count: 0
                      - lawFirmId: 84836034
                        lawFirmName: Scarinci Hollenbeck
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 2
                        - role: Defendant
                          count: 0
                        - role: Third Party
                          count: 0
                      - lawFirmId: 1200526
                        lawFirmName: Sherman Silverstein Kohl Rose & Podolsky
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 2
                        - role: Third Party
                          count: 0
                      - lawFirmId: 14984471
                        lawFirmName: Donnelly Minter & Kelly
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 2
                        - role: Third Party
                          count: 0
                      - lawFirmId: 2559918
                        lawFirmName: Lauletta Birnbaum
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 2
                        - role: Third Party
                          count: 0
                      - lawFirmId: 204149042
                        lawFirmName: Thomas Paschos & Associates
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 2
                        - role: Third Party
                          count: 0
                      - lawFirmId: 72715108
                        lawFirmName: ARBUS MAYBRUCH & GOODE
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 2
                        - role: Third Party
                          count: 0
                      - lawFirmId: 108090
                        lawFirmName: Cavanagh Law Firm
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 2
                        - role: Third Party
                          count: 0
                      - lawFirmId: 73726804
                        lawFirmName: Triarsi, Betancourt, Wukovits & Dugan
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 2
                        - role: Third Party
                          count: 0
                      - lawFirmId: 25034
                        lawFirmName: Troutman Pepper Locke
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 2
                        - role: Defendant
                          count: 0
                        - role: Third Party
                          count: 0
                      - lawFirmId: 32096952
                        lawFirmName: Verner Simon
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 2
                        - role: Defendant
                          count: 0
                        - role: Third Party
                          count: 0
                      - lawFirmId: 720671
                        lawFirmName: FisherBroyles
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 1
                        - role: Defendant
                          count: 1
                        - role: Third Party
                          count: 0
                      - lawFirmId: 57787079
                        lawFirmName: Law Offices of Frank Lagano
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 2
                        - role: Third Party
                          count: 0
                      - lawFirmId: 16233164
                        lawFirmName: Whiteman Law Group (whitemanlawgroup.com)
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 2
                        - role: Defendant
                          count: 0
                        - role: Third Party
                          count: 0
                      - lawFirmId: 175082254
                        lawFirmName: The Choi Law Group
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 1
                        - role: Third Party
                          count: 0
                      - lawFirmId: 9007590
                        lawFirmName: TheChoiLawGroup
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 1
                        - role: Third Party
                          count: 0
                      - lawFirmId: 43709706
                        lawFirmName: Abilheira & Associates
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 1
                        - role: Defendant
                          count: 0
                        - role: Third Party
                          count: 0
                      - lawFirmId: 2259387
                        lawFirmName: The Sultzer Law Group
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 1
                        - role: Defendant
                          count: 0
                        - role: Third Party
                          count: 0
                      - lawFirmId: 295568
                        lawFirmName: Thomas, Thomas & Hafer
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 1
                        - role: Third Party
                          count: 0
                      - lawFirmId: 72927124
                        lawFirmName: TorricellaLaw
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 1
                        - role: Third Party
                          count: 0
                      - lawFirmId: 1103546
                        lawFirmName: Trachtman & Trachtman (trachtmanlaw.com)
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 1
                        - role: Third Party
                          count: 0
                      - lawFirmId: 2763131
                        lawFirmName: Walsh & Walsh, Esqs.
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 1
                        - role: Defendant
                          count: 0
                        - role: Third Party
                          count: 0
                      - lawFirmId: 50008484
                        lawFirmName: Warshaw Burstein
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 1
                        - role: Defendant
                          count: 0
                        - role: Third Party
                          count: 0
                      - lawFirmId: 10357
                        lawFirmName: Weir & Partners
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 1
                        - role: Defendant
                          count: 0
                        - role: Third Party
                          count: 0
                      - lawFirmId: 2537860
                        lawFirmName: Wu & Kao
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 1
                        - role: Third Party
                          count: 0
                      - lawFirmId: 62232367
                        lawFirmName: The Law Offices of Bruce E. Baldinger
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 1
                        - role: Defendant
                          count: 0
                        - role: Third Party
                          count: 0
                      - lawFirmId: 87592700
                        lawFirmName: Ameri Law Firm
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 1
                        - role: Third Party
                          count: 0
                      - lawFirmId: 73646052
                        lawFirmName: Antar Law Firm
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 1
                        - role: Third Party
                          count: 0
                      - lawFirmId: 241440
                        lawFirmName: Archer & Greiner
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 1
                        - role: Third Party
                          count: 0
                      - lawFirmId: 479700
                        lawFirmName: Armstrong Teasdale
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 1
                        - role: Third Party
                          count: 0
                      - lawFirmId: 709843
                        lawFirmName: Ausley & McMullen
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 1
                        - role: Third Party
                          count: 0
                      - lawFirmId: 122592469
                        lawFirmName: Berger Law Group (bergerlawpc.com)
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 1
                        - role: Defendant
                          count: 0
                        - role: Third Party
                          count: 0
                      - lawFirmId: 2735110
                        lawFirmName: Beshada Farnese
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 1
                        - role: Defendant
                          count: 0
                        - role: Third Party
                          count: 0
                      - lawFirmId: 8195708
                        lawFirmName: Billet & Associates
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 1
                        - role: Defendant
                          count: 0
                        - role: Third Party
                          count: 0
                      - lawFirmId: 53440905
                        lawFirmName: Bolan Jahnsen Dacey
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 1
                        - role: Third Party
                          count: 0
                      - lawFirmId: 167401
                        lawFirmName: Brach Eichler
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 1
                        - role: Defendant
                          count: 0
                        - role: Third Party
                          count: 0
                      - lawFirmId: 126
                        lawFirmName: Buchanan Ingersoll & Rooney
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 1
                        - role: Third Party
                          count: 0
                      - lawFirmId: 129518605
                        lawFirmName: Carkhuff & Radmin
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 1
                        - role: Defendant
                          count: 0
                        - role: Third Party
                          count: 0
                      - lawFirmId: 8722539
                        lawFirmName: Casey & Barnett
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 1
                        - role: Defendant
                          count: 0
                        - role: Third Party
                          count: 0
                      - lawFirmId: 8072075
                        lawFirmName: Clark & Fox
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 1
                        - role: Third Party
                          count: 0
                      - lawFirmId: 69545896
                        lawFirmName: Cooper Levenson
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 1
                        - role: Third Party
                          count: 0
                      - lawFirmId: 10918693
                        lawFirmName: Cruser, Mitchell, Novitz, Sanchez, Gaston & Zimet
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 1
                        - role: Third Party
                          count: 0
                      - lawFirmId: 8142859
                        lawFirmName: de Luca Levine
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 1
                        - role: Defendant
                          count: 0
                        - role: Third Party
                          count: 0
                      - lawFirmId: 8289965
                        lawFirmName: Duane Morris
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 1
                        - role: Defendant
                          count: 0
                        - role: Third Party
                          count: 0
                      - lawFirmId: 54210250
                        lawFirmName: ExteNet Systems
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 1
                        - role: Defendant
                          count: 0
                        - role: Third Party
                          count: 0
                      - lawFirmId: 376452
                        lawFirmName: FBT Gibbons
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 0
                        - role: Third Party
                          count: 1
                      - lawFirmId: 52792274
                        lawFirmName: Fein, Such, Kahn & Shepard
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 1
                        - role: Defendant
                          count: 0
                        - role: Third Party
                          count: 0
                      - lawFirmId: 62784769
                        lawFirmName: Fink Law (finkpc.com)
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 1
                        - role: Third Party
                          count: 0
                      - lawFirmId: 2779711
                        lawFirmName: Fisher Zucker
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 1
                        - role: Defendant
                          count: 0
                        - role: Third Party
                          count: 0
                      - lawFirmId: 16109046
                        lawFirmName: Furey & Baldassari
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 1
                        - role: Defendant
                          count: 0
                        - role: Third Party
                          count: 0
                      - lawFirmId: 13760421
                        lawFirmName: Genova Burns
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 1
                        - role: Defendant
                          count: 0
                        - role: Third Party
                          count: 0
                      - lawFirmId: 3467799
                        lawFirmName: Guarino & Co. Law Firm
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 1
                        - role: Third Party
                          count: 0
                      - lawFirmId: 8740242
                        lawFirmName: Hedinger & Lawless
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 1
                        - role: Third Party
                          count: 0
                      - lawFirmId: 358108
                        lawFirmName: Hellring, Lindeman, Goldstein & Siegal
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 1
                        - role: Third Party
                          count: 0
                      - lawFirmId: 160207893
                        lawFirmName: High Swartz
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 1
                        - role: Third Party
                          count: 0
                      - lawFirmId: 1281
                        lawFirmName: Hogan Lovells
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 1
                        - role: Defendant
                          count: 0
                        - role: Third Party
                          count: 0
                      - lawFirmId: 92502870
                        lawFirmName: Inglesino, Webster, Wyciskala & Taylor
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 0
                        - role: Third Party
                          count: 1
                      - lawFirmId: 2572038
                        lawFirmName: Katz Melinger
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 1
                        - role: Defendant
                          count: 0
                        - role: Third Party
                          count: 0
                      - lawFirmId: 8763835
                        lawFirmName: Koller Law
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 1
                        - role: Defendant
                          count: 0
                        - role: Third Party
                          count: 0
                      - lawFirmId: 549711
                        lawFirmName: Kudman Trachten Aloe
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 1
                        - role: Third Party
                          count: 0
                      - lawFirmId: 2227
                        lawFirmName: Kutak Rock
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 1
                        - role: Defendant
                          count: 0
                        - role: Third Party
                          count: 0
                      - lawFirmId: 14012286
                        lawFirmName: Law Firm of Omar T. Mohammedi
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 1
                        - role: Defendant
                          count: 0
                        - role: Third Party
                          count: 0
                      - lawFirmId: 41414585
                        lawFirmName: Law Office of Alexander Sakin
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 1
                        - role: Defendant
                          count: 0
                        - role: Third Party
                          count: 0
                      - lawFirmId: 9362939
                        lawFirmName: Law Office of Dante DiPirro
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 1
                        - role: Defendant
                          count: 0
                        - role: Third Party
                          count: 0
                      - lawFirmId: 62665815
                        lawFirmName: LAW OFFICE OF JOSEPH BASSO
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 1
                        - role: Defendant
                          count: 0
                        - role: Third Party
                          count: 0
                      - lawFirmId: 3422064
                        lawFirmName: Law Office of Matthew H. Sontz
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 1
                        - role: Third Party
                          count: 0
                      - lawFirmId: 90856221
                        lawFirmName: LAW OFFICE OF MICHAEL K. ARROYO
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 1
                        - role: Third Party
                          count: 0
                      - lawFirmId: 4534806
                        lawFirmName: Law Office of Solomon E. Antar, Esq.
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 1
                        - role: Third Party
                          count: 0
                      - lawFirmId: 1330553
                        lawFirmName: Law Offices of Sheryl Mintz Goski
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 0
                        - role: Third Party
                          count: 1
                      - lawFirmId: 27625
                        lawFirmName: LeClairRyan
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 1
                        - role: Third Party
                          count: 0
                      - lawFirmId: 526832
                        lawFirmName: Lindabury, McCormick, Estabrook & Cooper
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 1
                        - role: Third Party
                          count: 0
                      - lawFirmId: 8758043
                        lawFirmName: Litman, Asche & Gioiella
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 1
                        - role: Third Party
                          count: 0
                      - lawFirmId: 16300000
                        lawFirmName: Lum, Drasco & Positan
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 0
                        - role: Third Party
                          count: 1
                      - lawFirmId: 186081396
                        lawFirmName: Marco & Sitaras
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 1
                        - role: Defendant
                          count: 0
                        - role: Third Party
                          count: 0
                      - lawFirmId: 87951007
                        lawFirmName: Mavinkurve & Patel
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 1
                        - role: Third Party
                          count: 0
                      - lawFirmId: 23879
                        lawFirmName: McDonald Hopkins
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 1
                        - role: Defendant
                          count: 0
                        - role: Third Party
                          count: 0
                      - lawFirmId: 99376948
                        lawFirmName: MCGUIRE LAW (CAROLYN M. MCGUIRE)
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 1
                        - role: Defendant
                          count: 0
                        - role: Third Party
                          count: 0
                      - lawFirmId: 231206
                        lawFirmName: McGuireWoods
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 1
                        - role: Third Party
                          count: 0
                      - lawFirmId: 113516710
                        lawFirmName: Mellinger Kartzman
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 1
                        - role: Third Party
                          count: 0
                      - lawFirmId: 110402020
                        lawFirmName: Mensing Law
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 1
                        - role: Defendant
                          count: 0
                        - role: Third Party
                          count: 0
                      - lawFirmId: 45200100
                        lawFirmName: MONTGOMERY McCRACKEN WALKER & RHOADS
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 1
                        - role: Defendant
                          count: 0
                        - role: Third Party
                          count: 0
                      - lawFirmId: 175183
                        lawFirmName: Morrison Cohen
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 0
                        - role: Third Party
                          count: 1
                      - lawFirmId: 2544544
                        lawFirmName: Newman & Simpson
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 1
                        - role: Defendant
                          count: 0
                        - role: Third Party
                          count: 0
                      - lawFirmId: 176436321
                        lawFirmName: Norris McLaughlin
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 1
                        - role: Defendant
                          count: 0
                        - role: Third Party
                          count: 0
                      - lawFirmId: 2345451
                        lawFirmName: NOVA IP Law
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 1
                        - role: Third Party
                          count: 0
                      - lawFirmId: 2538578
                        lawFirmName: Offit Kurman
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 0
                        - role: Defendant
                          count: 0
                        - role: Third Party
                          count: 1
                      - lawFirmId: 136372
                        lawFirmName: OlenderFeldman
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 1
                        - role: Defendant
                          count: 0
                        - role: Third Party
                          count: 0
                      - lawFirmId: 2732255
                        lawFirmName: Price Parkinson & Kerr
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 1
                        - role: Defendant
                          count: 0
                        - role: Third Party
                          count: 0
                      - lawFirmId: 43444228
                        lawFirmName: Ramp & Pisani, Esqs
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 1
                        - role: Defendant
                          count: 0
                        - role: Third Party
                          count: 0
                      - lawFirmId: 85697163
                        lawFirmName: RAUCHWAY LAW (rauchwaylaw.com)
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 1
                        - role: Defendant
                          count: 0
                        - role: Third Party
                          count: 0
                      - lawFirmId: 134
                        lawFirmName: Shumaker, Loop & Kendrick
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 1
                        - role: Defendant
                          count: 0
                        - role: Third Party
                          count: 0
                      - lawFirmId: 9542806
                        lawFirmName: Sidney L. Gold & Associates
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 1
                        - role: Defendant
                          count: 0
                        - role: Third Party
                          count: 0
                      - lawFirmId: 8511620
                        lawFirmName: Szaferman Lakind Blumstein & Blader
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 1
                        - role: Defendant
                          count: 0
                        - role: Third Party
                          count: 0
                      - lawFirmId: 1716416
                        lawFirmName: The Basil Law Group
                        rolesAndCounts:
                        - role: Plaintiff
                          count: 1
                        - role: Defendant
                          count: 0
                        - role: Third Party
                          count: 0
        '401':
          description: Invalid or expired token
          content:
            application/json:
              examples:
                Expired token:
                  summary: Expired token
                  value:
                    detail: 'Token time expired: Signature has expired.'
                Invalid token:
                  summary: Invalid token
                  value:
                    detail: Invalid token
        '404':
          description: Not found
          content:
            application/json:
              examples:
                Not found:
                  summary: Not found
                  value:
                    summary: Unknown id
                    detail: Not Found
        '422':
          description: Error - 422
          content:
            application/json:
              examples:
                Validation error:
                  summary: Validation error
                  value:
                    summary: Invalid input
                    detail:
                    - type: parsing
                      loc:
                      - path
                      - query
                      - body
                      msg: invalid input
                      input: '-1'
      security:
      - JwtAccessBearer: []
  /analyze-district-cases/from-alert/{alert_id}:
    get:
      tags:
      - Federal District Cases
      summary: Analyze District Cases From Alert
      operationId: analyze_district_cases_from_alert
      security:
      - JwtAccessBearer: []
      parameters:
      - name: alert_id
        in: path
        required: true
        schema:
          type: integer
          title: Alert Id
      - name: analytic_type
        in: query
        required: true
        schema:
          $ref: '#/components/schemas/AnalyticTypes'
      - name: on_or_after
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: alert start date
          title: On Or After
        description: alert start date
      - name: on_or_before
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: alert end date
          title: On Or Before
        description: alert end date
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaseAnalyticResult'
              examples:
                Case Counts by Type from Alert:
                  summary: Case Counts by Type from Alert
                  value:
                    totalCases: 1633
                    aggregation:
                      data:
                      - caseType: Patent
                        count: 1632
                      - caseType: Trademark
                        count: 74
                      - caseType: Contracts
                        count: 53
                      - caseType: Copyright
                        count: 14
                      - caseType: Trade Secret
                        count: 7
                      - caseType: Antitrust
                        count: 5
                      - caseType: Internet
                        count: 1
        '401':
          description: Invalid or expired token
          content:
            application/json:
              examples:
                Expired token:
                  summary: Expired token
                  value:
                    detail: 'Token time expired: Signature has expired.'
                Invalid token:
                  summary: Invalid token
                  value:
                    detail: Invalid token
        '404':
          description: Not found
          content:
            application/json:
              examples:
                Not found:
                  summary: Not found
                  value:
                    summary: Unknown id
                    detail: Not Found
        '422':
          description: Error - 422
          content:
            application/json:
              examples:
                Validation error:
                  summary: Validation error
                  value:
                    summary: Invalid input
                    detail:
                    - type: parsing
                      loc:
                      - path
                      - query
                      - body
                      msg: invalid input
                      input: '-1'
  /find-district-cases:
    get:
      tags:
      - Federal District Cases
      summary: Find District Case By Number
      description: 'Finds Lex Machina case ids for specified case numbers.


        - **case_numbers**: case number search strings

        - **court**: optional court to limit results


        Matches results for each individual case number is cut off at 1000 match results.


        Because case number formats vary, and because the case number for the same case can change over time, the search tries to err on the side of being more inclusive.

        So, this may return more results than you expect.

        For example, the search ignores judge initials at the end of case numbers.

        So, for case number "1:19-cv-00077-NLH-KMW", the trailing initials "NLH" and "KMW" will be ignored.


        The court param is optional and can be any of the name versions given by the /list-courts endpoint (must match capitalization).

        Providing a value for the court param will filter all case number searches in the request for cases within that court.'
      operationId: find_district_case_by_number
      security:
      - JwtAccessBearer: []
      parameters:
      - name: caseNumbers
        in: query
        required: true
        schema:
          type: array
          uniqueItems: true
          items:
            type: string
          title: Casenumbers
      - name: court
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          title: Court
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DistrictCaseNumberSearchResult'
                title: Response Find District Case By Number Find District Cases Get
              examples:
                Search for Two Case Numbers:
                  summary: Search for Two Case Numbers
                  value:
                  - totalCount: 1
                    inputCaseNumber: 1:11-cv-11681
                    inputCourt: U.S. District Court for the District of Massachusetts
                    matches:
                    - url: https://api.lexmachina.com/district-cases/2000026401
                      districtCaseId: 2000026401
                      caseNumber: 1:11-cv-11681
                      court: U.S. District Court for the District of Massachusetts
                      title: Momenta Pharmaceuticals, Inc. et al v. Amphastar Pharmaceuticals, Inc. et al
                  - totalCount: 1
                    inputCaseNumber: 1:24-cv-11928
                    inputCourt: U.S. District Court for the District of Massachusetts
                    matches:
                    - url: https://api.lexmachina.com/district-cases/2034403653
                      districtCaseId: 2034403653
                      caseNumber: 1:24-cv-11928
                      court: U.S. District Court for the District of Massachusetts
                      title: Anderson-O'Brien v. Sika Corporation
        '401':
          description: Invalid or expired token
          content:
            application/json:
              examples:
                Expired token:
                  summary: Expired token
                  value:
                    detail: 'Token time expired: Signature has expired.'
                Invalid token:
                  summary: Invalid token
                  value:
                    detail: Invalid token
        '404':
          description: Not found
          content:
            application/json:
              examples:
                Not found:
                  summary: Not found
                  value:
                    summary: Unknown id
                    detail: Not Found
        '422':
          description: Error - 422
          content:
            application/json:
              examples:
                Validation error:
                  summary: Validation error
                  value:
                    summary: Invalid input
                    detail:
                    - type: parsing
                      loc:
                      - path
                      - query
                      - body
                      msg: invalid input
                      input: '-1'
  /district-cases/{district_case_id}:
    get:
      tags:
      - Federal District Cases
      summary: Get District Case
      description: 'Gets data for a single federal district case.


        - **district_case_id**: the Lex Machina districtCaseId

        - **docket_retrieval**: docket retreival mode'
      operationId: get_district_case
      security:
      - JwtAccessBearer: []
      parameters:
      - name: district_case_id
        in: path
        required: true
        schema:
          type: integer
          title: District Case Id
      - name: docket_retrieval
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: '''all'' to retrieve docket entries for the case, if not provided no docket entries will be retrieved.'
          title: Docket Retrieval
        description: '''all'' to retrieve docket entries for the case, if not provided no docket entries will be retrieved.'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistrictCaseData'
              examples:
                single district court case:
                  summary: single district court case
                  value:
                    districtCaseId: 2000007922
                    title: Apple Inc. v. Samsung Electronics Co. Ltd. et al
                    court: U.S. District Court for the Northern District of California
                    caseNo: 5:11-cv-01846-LHK
                    status: Terminated
                    caseType:
                    - Antitrust
                    - Contracts
                    - Patent
                    - Trademark
                    caseTags:
                    - Commercial
                    - High-Volume Plaintiff
                    - Design Patent
                    - Appealed
                    - SCOTUS Decision
                    - 'Order re: Summary Judgment'
                    - Claim Construction Hearing
                    - Trial
                    - 'Order re: Dismiss (Contested)'
                    - Dilution
                    - Breach of Contract
                    - Jury Trial
                    dates:
                      filed: '2011-04-15'
                      terminated: '2018-06-27'
                      trial: '2012-07-31'
                      lastDocket: '2018-06-29'
                    resolution:
                      summary: Claimant Win
                      specific: Trial
                      docketEntryFiled: '2012-08-24'
                      docketEntryId: 2002219032
                    events:
                    - type: Filed
                      occurred: '2011-04-15'
                    - type: Dismiss (Contested)
                      occurred: '2011-10-18'
                    - type: Claim Construction Hearing
                      occurred: '2012-01-20'
                    - type: Summary Judgment
                      occurred: '2012-06-30'
                    - type: Trial
                      occurred: '2012-07-31'
                    - type: Trial
                      occurred: '2013-11-13'
                    - type: Trial
                      occurred: '2017-10-12'
                    - type: Trial
                      occurred: '2018-05-07'
                    - type: Terminated
                      occurred: '2018-06-27'
                    judges:
                    - name: Lucy Haeran Koh
                      federalJudgeId: 3279
                    magistrateJudges:
                    - name: Nathanael M Cousins
                      magistrateJudgeId: 131
                    - name: Paul Singh Grewal
                      magistrateJudgeId: 132
                    remedies:
                      active:
                      - name: 'Permanent Injunction: Deny'
                        type: General
                        judgmentSource: Judgment on Merits
                        awardedToPartyIds:
                        - 123
                        - 2597
                        - 30125
                        againstPartyIds:
                        - 2273
                        docketEntryFiled: '2012-12-17'
                        docketEntryId: 2002445270
                      - name: 'Preliminary Injunction: Grant'
                        type: General
                        judgmentSource: Judgment on Merits
                        awardedToPartyIds:
                        - 2273
                        againstPartyIds:
                        - 123
                        - 2597
                        - 30125
                        docketEntryFiled: '2012-06-26'
                        docketEntryId: 2002104801
                      - name: 'Permanent Injunction: Deny'
                        type: General
                        judgmentSource: Judgment on Merits
                        awardedToPartyIds:
                        - 123
                        - 2597
                        - 30125
                        againstPartyIds:
                        - 2273
                        docketEntryFiled: '2014-03-06'
                        docketEntryId: 2003298932
                      - name: 'Preliminary Injunction: Deny'
                        type: General
                        judgmentSource: Judgment on Merits
                        awardedToPartyIds:
                        - 123
                        - 2597
                        - 30125
                        againstPartyIds:
                        - 2273
                        docketEntryFiled: '2011-12-02'
                        docketEntryId: 2001720197
                      voided: []
                      reversed:
                      - name: 'Permanent Injunction: Deny'
                        type: General
                        judgmentSource: Judgment on Merits
                        awardedToPartyIds:
                        - 123
                        - 2597
                        - 30125
                        againstPartyIds:
                        - 2273
                        docketEntryFiled: '2012-12-17'
                        negated: '2014-03-04'
                        docketEntryId: 2002445270
                        negatedDocketEntryId: 2003298920
                      - name: 'Preliminary Injunction: Deny'
                        type: General
                        judgmentSource: Judgment on Merits
                        awardedToPartyIds:
                        - 123
                        - 2597
                        - 30125
                        againstPartyIds:
                        - 2273
                        docketEntryFiled: '2011-12-02'
                        negated: '2012-06-25'
                        docketEntryId: 2001720197
                        negatedDocketEntryId: 2002102157
                    findings:
                      active:
                      - name: No Ownership / Validity
                        type: Trademark
                        judgmentSource: Trial
                        inFavorOfPartyIds:
                        - 123
                        - 2597
                        - 30125
                        patentInvalidityReasons: []
                        againstPartyIds:
                        - 2273
                        docketEntryFiled: '2012-08-24'
                        specificReasons:
                        - No Trademark Ownership/Validity
                        docketEntryId: 2002219032
                      - name: No Infringement
                        type: Patent
                        judgmentSource: Trial
                        inFavorOfPartyIds:
                        - 123
                        - 30125
                        patentInvalidityReasons: []
                        againstPartyIds:
                        - 2273
                        docketEntryFiled: '2012-08-24'
                        specificReasons:
                        - No Infringement
                        docketEntryId: 2002219032
                      - name: No Willfulness / Bad Faith
                        type: Trademark
                        judgmentSource: Trial
                        inFavorOfPartyIds:
                        - 123
                        - 2597
                        - 30125
                        patentInvalidityReasons: []
                        againstPartyIds:
                        - 2273
                        docketEntryFiled: '2012-08-24'
                        specificReasons:
                        - No Willfulness/Bad Faith
                        docketEntryId: 2002219032
                      - name: Infringement
                        type: Patent
                        judgmentSource: Trial
                        inFavorOfPartyIds:
                        - 2273
                        patentInvalidityReasons: []
                        againstPartyIds:
                        - 123
                        - 2597
                        - 30125
                        docketEntryFiled: '2012-08-24'
                        specificReasons:
                        - Infringement
                        docketEntryId: 2002219032
                      - name: No Infringement
                        type: Patent
                        judgmentSource: Trial
                        inFavorOfPartyIds:
                        - 123
                        - 30125
                        patentInvalidityReasons: []
                        againstPartyIds:
                        - 2273
                        docketEntryFiled: '2012-08-24'
                        specificReasons:
                        - No Infringement
                        docketEntryId: 2002219032
                      - name: Infringement
                        type: Patent
                        judgmentSource: Trial
                        inFavorOfPartyIds:
                        - 2273
                        patentInvalidityReasons: []
                        againstPartyIds:
                        - 123
                        - 30125
                        docketEntryFiled: '2012-08-24'
                        specificReasons:
                        - Infringement
                        docketEntryId: 2002219032
                      - name: No Infringement
                        type: Patent
                        judgmentSource: Trial
                        inFavorOfPartyIds:
                        - 2273
                        patentInvalidityReasons: []
                        againstPartyIds:
                        - 123
                        - 2597
                        - 30125
                        docketEntryFiled: '2012-08-24'
                        specificReasons:
                        - No Infringement
                        docketEntryId: 2002219032
                      - name: No Unenforceability
                        type: Patent
                        judgmentSource: Judgment as a Matter of Law
                        inFavorOfPartyIds:
                        - 123
                        - 2597
                        - 30125
                        patentInvalidityReasons: []
                        againstPartyIds:
                        - 2273
                        docketEntryFiled: '2013-01-29'
                        specificReasons:
                        - No Unenforceability
                        docketEntryId: 2002526209
                      - name: No Invalidity
                        type: Patent
                        judgmentSource: Trial
                        inFavorOfPartyIds:
                        - 2273
                        patentInvalidityReasons: []
                        againstPartyIds:
                        - 123
                        - 2597
                        - 30125
                        docketEntryFiled: '2012-08-24'
                        specificReasons:
                        - No Invalidity
                        docketEntryId: 2002219032
                      - name: No Infringement
                        type: Patent
                        judgmentSource: Trial
                        inFavorOfPartyIds:
                        - 123
                        patentInvalidityReasons: []
                        againstPartyIds:
                        - 2273
                        docketEntryFiled: '2012-08-24'
                        specificReasons:
                        - No Infringement
                        docketEntryId: 2002219032
                      - name: No Sherman Act § 2 Violation (Monopolization)
                        type: Antitrust
                        judgmentSource: Trial
                        inFavorOfPartyIds:
                        - 123
                        - 2597
                        - 30125
                        patentInvalidityReasons: []
                        againstPartyIds:
                        - 2273
                        docketEntryFiled: '2012-08-24'
                        specificReasons:
                        - No Sherman Act § 2 Violation (Monopolization)
                        docketEntryId: 2002219032
                      - name: No Invalidity
                        type: Patent
                        judgmentSource: Trial
                        inFavorOfPartyIds:
                        - 123
                        - 2597
                        - 30125
                        patentInvalidityReasons: []
                        againstPartyIds:
                        - 2273
                        docketEntryFiled: '2012-08-24'
                        specificReasons:
                        - No Invalidity
                        docketEntryId: 2002219032
                      - name: No Infringement
                        type: Patent
                        judgmentSource: Trial
                        inFavorOfPartyIds:
                        - 123
                        - 2597
                        - 30125
                        patentInvalidityReasons: []
                        againstPartyIds:
                        - 2273
                        docketEntryFiled: '2012-08-24'
                        specificReasons:
                        - No Infringement
                        docketEntryId: 2002219032
                      - name: Unenforceability
                        type: Patent
                        judgmentSource: Trial
                        inFavorOfPartyIds:
                        - 2273
                        patentInvalidityReasons: []
                        againstPartyIds:
                        - 123
                        - 2597
                        - 30125
                        docketEntryFiled: '2012-08-24'
                        specificReasons:
                        - Unenforceability
                        docketEntryId: 2002219032
                      - name: No Dilution
                        type: Trademark
                        judgmentSource: Trial
                        inFavorOfPartyIds:
                        - 123
                        - 2597
                        - 30125
                        patentInvalidityReasons: []
                        againstPartyIds:
                        - 2273
                        docketEntryFiled: '2012-08-24'
                        specificReasons:
                        - No Dilution
                        docketEntryId: 2002219032
                      - name: Willfulness / Bad Faith
                        type: Trademark
                        judgmentSource: Trial
                        inFavorOfPartyIds:
                        - 2273
                        patentInvalidityReasons: []
                        againstPartyIds:
                        - 123
                        - 30125
                        docketEntryFiled: '2012-08-24'
                        specificReasons:
                        - Willfulness/Bad Faith
                        docketEntryId: 2002219032
                      - name: No Ownership / Validity
                        type: Trademark
                        judgmentSource: Judgment as a Matter of Law
                        inFavorOfPartyIds:
                        - 123
                        - 2597
                        - 30125
                        patentInvalidityReasons: []
                        againstPartyIds:
                        - 2273
                        docketEntryFiled: '2015-09-01'
                        specificReasons:
                        - No Trademark Ownership/Validity
                        docketEntryId: 2004436957
                      - name: Invalidity
                        type: Patent
                        judgmentSource: Judgment as a Matter of Law
                        inFavorOfPartyIds:
                        - 2273
                        patentInvalidityReasons:
                        - 'Invalidity: 102 Anticipation / Novelty'
                        againstPartyIds:
                        - 123
                        - 2597
                        - 30125
                        docketEntryFiled: '2013-01-29'
                        specificReasons:
                        - 'Invalidity: 102 Anticipation / Novelty'
                        docketEntryId: 2002517646
                      - name: No Infringement
                        type: Patent
                        judgmentSource: Summary Judgment
                        inFavorOfPartyIds:
                        - 123
                        - 2597
                        - 30125
                        patentInvalidityReasons: []
                        againstPartyIds:
                        - 2273
                        docketEntryFiled: '2012-06-29'
                        specificReasons:
                        - No Infringement
                        docketEntryId: 2002111698
                      voided:
                      - name: Unenforceability
                        type: Patent
                        judgmentSource: Trial
                        inFavorOfPartyIds:
                        - 2273
                        patentInvalidityReasons: []
                        againstPartyIds:
                        - 123
                        - 2597
                        - 30125
                        docketEntryFiled: '2012-08-24'
                        specificReasons:
                        - Unenforceability
                        negated: '2013-01-29'
                        docketEntryId: 2002219032
                        negatedDocketEntryId: 2002526209
                      - name: No Invalidity
                        type: Patent
                        judgmentSource: Trial
                        inFavorOfPartyIds:
                        - 123
                        - 2597
                        - 30125
                        patentInvalidityReasons: []
                        againstPartyIds:
                        - 2273
                        docketEntryFiled: '2012-08-24'
                        specificReasons:
                        - No Invalidity
                        negated: '2013-01-29'
                        docketEntryId: 2002219032
                        negatedDocketEntryId: 2002517646
                      reversed:
                      - name: Ownership / Validity
                        type: Trademark
                        judgmentSource: Trial
                        inFavorOfPartyIds:
                        - 2273
                        patentInvalidityReasons: []
                        againstPartyIds:
                        - 123
                        - 2597
                        - 30125
                        docketEntryFiled: '2012-08-24'
                        specificReasons:
                        - Trademark Ownership/Validity
                        negated: '2015-09-01'
                        docketEntryId: 2002219032
                        negatedDocketEntryId: 2004436957
                      - name: Dilution
                        type: Trademark
                        judgmentSource: Trial
                        inFavorOfPartyIds:
                        - 2273
                        patentInvalidityReasons: []
                        againstPartyIds:
                        - 123
                        - 30125
                        docketEntryFiled: '2012-08-24'
                        specificReasons:
                        - Dilution
                        negated: '2015-09-01'
                        docketEntryId: 2002219032
                        negatedDocketEntryId: 2004436957
                    lawFirms:
                    - name: King & Spalding
                      lawFirmId: 4
                      clientPartyIds:
                      - 3801
                      - 379677
                      - 177125
                    - name: Reed Smith
                      lawFirmId: 433
                      clientPartyIds:
                      - 379677
                      - 25454
                    - name: DLA Piper
                      lawFirmId: 491
                      clientPartyIds:
                      - 123
                      - 2597
                      - 30125
                    - name: Finnegan, Henderson, Farabow, Garrett & Dunner
                      lawFirmId: 528
                      clientPartyIds:
                      - 20166873
                      - 348812
                      - 370716
                      - 360207
                    - name: WilmerHale
                      lawFirmId: 853
                      clientPartyIds:
                      - 2273
                    - name: Quinn Emanuel Urquhart & Sullivan
                      lawFirmId: 920
                      clientPartyIds:
                      - 123
                      - 2597
                      - 30125
                    - name: Cooley
                      lawFirmId: 1358
                      clientPartyIds:
                      - 2273
                    - name: Perkins Coie
                      lawFirmId: 1368
                      clientPartyIds:
                      - 12113
                      - 266
                      - 360207
                    - name: Morrison & Foerster
                      lawFirmId: 1934
                      clientPartyIds:
                      - 20166873
                      - 2273
                    - name: K&L Gates
                      lawFirmId: 3181
                      clientPartyIds:
                      - 294
                    - name: Mayer Brown
                      lawFirmId: 3277
                      clientPartyIds:
                      - 123
                      - 2597
                      - 30125
                    - name: McKool Smith
                      lawFirmId: 3425
                      clientPartyIds:
                      - 15131
                      - 379677
                    - name: Foley & Lardner
                      lawFirmId: 4856
                      clientPartyIds:
                      - 112
                    - name: Sidley Austin
                      lawFirmId: 5759
                      clientPartyIds:
                      - 294
                    - name: Colt / Singer / Bea
                      lawFirmId: 6247
                      clientPartyIds:
                      - 123
                      - 2597
                      - 30125
                    - name: Bridges & Mavrakakis
                      lawFirmId: 6302
                      clientPartyIds:
                      - 2273
                    - name: Paul, Weiss, Rifkind, Wharton & Garrison
                      lawFirmId: 7767
                      clientPartyIds:
                      - 123
                      - 2597
                      - 30125
                    - name: Cravath, Swaine & Moore
                      lawFirmId: 8914
                      clientPartyIds:
                      - 25488
                    - name: Irell & Manella
                      lawFirmId: 11405
                      clientPartyIds:
                      - 3561
                      - 3564
                    - name: Pillsbury Winthrop Shaw Pittman
                      lawFirmId: 15523
                      clientPartyIds:
                      - 123
                      - 2597
                      - 30125
                    - name: Carr & Ferrell
                      lawFirmId: 16839
                      clientPartyIds:
                      - 20166873
                      - 370716
                    - name: Winston & Strawn
                      lawFirmId: 17511
                      clientPartyIds:
                      - 330728
                      - 2273
                      - 379677
                    - name: Maschoff Brennan
                      lawFirmId: 17664
                      clientPartyIds:
                      - 2273
                    - name: Troutman Pepper Locke
                      lawFirmId: 25034
                      clientPartyIds:
                      - 330728
                    - name: Newman Du Wors Durrance
                      lawFirmId: 25238
                      clientPartyIds:
                      - 266
                    - name: Alston & Bird
                      lawFirmId: 34329
                      clientPartyIds:
                      - 3876
                      - 2597
                      - 30125
                      - 123
                      - 379677
                    - name: Ram, Olson, Cereghino & Kopczynski
                      lawFirmId: 35995
                      clientPartyIds:
                      - 228037
                      - 360207
                    - name: Smith, Gambrell & Russell
                      lawFirmId: 45875
                      clientPartyIds:
                      - 123
                      - 2597
                      - 30125
                    - name: Taylor & Company Law Offices
                      lawFirmId: 54244
                      clientPartyIds:
                      - 2273
                    - name: Crone Hawxhurst
                      lawFirmId: 57881
                      clientPartyIds:
                      - 123
                      - 2597
                      - 30125
                    - name: Novak Druce Connolly Bove + Quigg
                      lawFirmId: 63501
                      clientPartyIds:
                      - 330728
                    - name: O'Melveny & Myers
                      lawFirmId: 67505
                      clientPartyIds:
                      - 123
                      - 2597
                      - 30125
                    - name: Procopio Cory Hargreaves & Savitch
                      lawFirmId: 67844
                      clientPartyIds:
                      - 558
                    - name: Steptoe
                      lawFirmId: 89776
                      clientPartyIds:
                      - 123
                      - 3801
                      - 2597
                      - 30125
                    - name: Bergeson
                      lawFirmId: 175215
                      clientPartyIds:
                      - 29584
                      - 558
                    - name: Hopenfeld Singer Rice & Saito
                      lawFirmId: 712674
                      clientPartyIds:
                      - 123
                      - 2597
                      - 30125
                    - name: Nolan Armstrong & Barton
                      lawFirmId: 1430303
                      clientPartyIds:
                      - 349808
                    - name: Mavrakakis Law Group
                      lawFirmId: 2570392
                      clientPartyIds:
                      - 2273
                    - name: Squire Patton Boggs
                      lawFirmId: 2917115
                      clientPartyIds:
                      - 2597
                      - 30125
                    - name: Gordon Rees Scully Mansukhani
                      lawFirmId: 3641580
                      clientPartyIds:
                      - 123
                      - 2597
                    - name: Singer Bea
                      lawFirmId: 3836116
                      clientPartyIds:
                      - 123
                      - 2597
                      - 30125
                    - name: Morgan Franich Fredkin Siamas & Kays
                      lawFirmId: 4536117
                      clientPartyIds:
                      - 25488
                      - 379677
                    - name: Reese (reesellp.com)
                      lawFirmId: 8092536
                      clientPartyIds:
                      - 23126979
                    - name: Goldman Ismail Tomaselli Brennan & Baum
                      lawFirmId: 8277309
                      clientPartyIds:
                      - 2273
                    - name: Sheppard Mullin
                      lawFirmId: 16041128
                      clientPartyIds:
                      - 123
                      - 2597
                      - 30125
                    - name: Taylor & Patchen
                      lawFirmId: 30608812
                      clientPartyIds:
                      - 2273
                    - name: Kellogg, Hansen, Todd, Figel & Frederick
                      lawFirmId: 35608789
                      clientPartyIds:
                      - 123
                      - 2597
                      - 30125
                      - 29584
                    - name: Valerian Law
                      lawFirmId: 44776924
                      clientPartyIds:
                      - 228037
                    - name: Arnold & Porter Kaye Scholer
                      lawFirmId: 49191528
                      clientPartyIds:
                      - 372117
                    - name: Pierce Bainbridge Beck Price & Hecht
                      lawFirmId: 50746257
                      clientPartyIds:
                      - 123
                      - 2597
                      - 30125
                    - name: Cannata O'Toole Fickes & Olson
                      lawFirmId: 56448364
                      clientPartyIds:
                      - 228037
                    - name: Wilson Sonsini Goodrich & Rosati
                      lawFirmId: 75246884
                      clientPartyIds:
                      - 23000169
                      - 22975826
                      - 23058323
                      - 23058279
                    - name: Shook, Hardy & Bacon
                      lawFirmId: 181016836
                      clientPartyIds:
                      - 10549
                      - 379677
                    - name: Nolan Barton Olmos & Luciano
                      lawFirmId: 191047152
                      clientPartyIds:
                      - 349808
                    - name: Crowell & Moring
                      lawFirmId: 204878502
                      clientPartyIds:
                      - 123
                      - 2597
                      - 30125
                    attorneys:
                    - name: Aaron Martin Panner
                      attorneyId: 1300
                      lawFirmIds:
                      - 35608789
                      clientsPartyIds:
                      - 123
                      - 2597
                      - 30125
                      - 29584
                    - name: Joseph Milowic III
                      attorneyId: 1606
                      lawFirmIds:
                      - 920
                      clientsPartyIds:
                      - 123
                      - 2597
                      - 30125
                    - name: Michael Allen Jacobs
                      attorneyId: 1933
                      lawFirmIds:
                      - 1934
                      clientsPartyIds:
                      - 20166873
                      - 2273
                    - name: James C. Burling
                      attorneyId: 4538
                      lawFirmIds:
                      - 853
                      clientsPartyIds:
                      - 2273
                    - name: Patrick J. Zhang
                      attorneyId: 8624
                      lawFirmIds:
                      - 1934
                      clientsPartyIds:
                      - 20166873
                      - 2273
                    - name: Robert J. Gunther Jr. (Wilmer Cutler Pickering Hale & Dorr)
                      attorneyId: 11157
                      lawFirmIds:
                      - 853
                      clientsPartyIds:
                      - 2273
                    - name: Thomas Gerard Pasternak
                      attorneyId: 17369
                      lawFirmIds:
                      - 89776
                      - 491
                      clientsPartyIds:
                      - 2597
                      - 3801
                      - 123
                      - 30125
[...]
